<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,minimum-scale=1">
  <title>AMEN Lab Results Mapping Skunk Works | TigerConnect</title>
  <base href="../../../">
  <!-- css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style/amen.min.css">
  <style>
    body {
      opacity: 0;
      -webkit-transition: opacity 0.5s ease-in;
      -moz-transition: opacity 0.5s ease-in;
      -ms-transition: opacity 0.5s ease-in;
      -o-transition: opacity 0.5s ease-in;
      transition: opacity 0.5s ease-in;
    }

    body.visible {
      opacity: 1;
    }
  </style>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="views/dashboard/index.html">Dashboard</a></li>
        <li><a href="views/mapping/index.html">Mapping</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <article>
      <h1>Yale Medical Center INT-1 Patient</h1>
      <section>
        <h2>Edit Active Fields</h2>
        <div class="row cards">
          <div class="card">
            <form>
              <fieldset class="toggle"><label for="yale-medical-center-patient-patient-id-field">Patient ID<input type="checkbox" id="yale-medical-center-patient-patient-id-field" class="toggle" name="yale-medical-center-patient-patient-id-field" title="Patient ID" value="Patient ID"></label></fieldset>
              <fieldset class="toggle"><label for="yale-medical-center-patient-mrn-field">MRN<input type="checkbox" id="yale-medical-center-patient-mrn-field" class="toggle" name="yale-medical-center-patient-mrn-field" title="MRN" value="MRN"></label></fieldset>
              <fieldset class="toggle"><label for="yale-medical-center-patient-encounter-visit-number-field">Encounter Visit number<input type="checkbox" id="yale-medical-center-patient-encounter-visit-number-field" class="toggle" name="yale-medical-center-patient-encounter-visit-number-field" title="Encounter Visit number" value="Encounter Visit number"></label></fieldset>
              <fieldset class="toggle"><label for="yale-medical-center-patient-first-name-field">First Name<input type="checkbox" id="yale-medical-center-patient-first-name-field" class="toggle" name="yale-medical-center-patient-first-name-field" title="First Name" value="First Name"></label></fieldset>
              <fieldset class="toggle"><label for="yale-medical-center-patient-last-name-field">Last Name<input type="checkbox" id="yale-medical-center-patient-last-name-field" class="toggle" name="yale-medical-center-patient-last-name-field" title="Last Name" value="Last Name"></label></fieldset>
              <fieldset class="toggle"><label for="yale-medical-center-patient-organization-field">Organization<input type="checkbox" id="yale-medical-center-patient-organization-field" class="toggle" name="yale-medical-center-patient-organization-field" title="Organization" value="Organization"></label></fieldset>
              <fieldset class="toggle"><label for="yale-medical-center-patient-date-of-birth-field">Date of Birth<input type="checkbox" id="yale-medical-center-patient-date-of-birth-field" class="toggle" name="yale-medical-center-patient-date-of-birth-field" title="Date of Birth" value="Date of Birth"></label></fieldset>
              <fieldset class="toggle"><label for="yale-medical-center-patient-gender-field">Gender<input type="checkbox" id="yale-medical-center-patient-gender-field" class="toggle" name="yale-medical-center-patient-gender-field" title="Gender" value="Gender"></label></fieldset>
              <fieldset class="toggle"><label for="yale-medical-center-patient-phone-number-field">Phone Number<input type="checkbox" id="yale-medical-center-patient-phone-number-field" class="toggle" name="yale-medical-center-patient-phone-number-field" title="Phone Number" value="Phone Number"></label></fieldset>
              <fieldset class="toggle"><label for="yale-medical-center-patient-email-field">Email<input type="checkbox" id="yale-medical-center-patient-email-field" class="toggle" name="yale-medical-center-patient-email-field" title="Email" value="Email"></label></fieldset>
              <fieldset class="toggle"><label for="yale-medical-center-patient-status-field">Status<input type="checkbox" id="yale-medical-center-patient-status-field" class="toggle" name="yale-medical-center-patient-status-field" title="Status" value="Status"></label></fieldset>
              <fieldset class="toggle"><label for="yale-medical-center-patient-chief-complaint-field">Chief Complaint<input type="checkbox" id="yale-medical-center-patient-chief-complaint-field" class="toggle" name="yale-medical-center-patient-chief-complaint-field" title="Chief Complaint" value="Chief Complaint"></label></fieldset>
              <fieldset class="toggle"><label for="yale-medical-center-patient-diagnosis-field">Diagnosis<input type="checkbox" id="yale-medical-center-patient-diagnosis-field" class="toggle" name="yale-medical-center-patient-diagnosis-field" title="Diagnosis" value="Diagnosis"></label></fieldset>
              <fieldset class="toggle"><label for="yale-medical-center-patient-allergies-field">Allergies<input type="checkbox" id="yale-medical-center-patient-allergies-field" class="toggle" name="yale-medical-center-patient-allergies-field" title="Allergies" value="Allergies"></label></fieldset>
              <fieldset class="toggle"><label for="yale-medical-center-patient-patient-class-field">Patient Class<input type="checkbox" id="yale-medical-center-patient-patient-class-field" class="toggle" name="yale-medical-center-patient-patient-class-field" title="Patient Class" value="Patient Class"></label></fieldset>
              <fieldset class="toggle"><label for="yale-medical-center-patient-attending-physician-field">Attending Physician<input type="checkbox" id="yale-medical-center-patient-attending-physician-field" class="toggle" name="yale-medical-center-patient-attending-physician-field" title="Attending Physician" value="Attending Physician"></label></fieldset>
              <fieldset class="toggle"><label for="yale-medical-center-patient-primary-care-physician-field">Primary Care Physician<input type="checkbox" id="yale-medical-center-patient-primary-care-physician-field" class="toggle" name="yale-medical-center-patient-primary-care-physician-field" title="Primary Care Physician" value="Primary Care Physician"></label></fieldset>
              <fieldset class="toggle"><label for="yale-medical-center-patient-referring-physician-field">Referring Physician<input type="checkbox" id="yale-medical-center-patient-referring-physician-field" class="toggle" name="yale-medical-center-patient-referring-physician-field" title="Referring Physician" value="Referring Physician"></label></fieldset>
            </form>
            <div class="button-group right">
              <a href="views/mapping/index.html" class="button tertiary">Back to Mapping</a>
              <button class="secondary">Cancel</button>
              <a href="views/mapping/index.html" class="button primary">Save</a>
            </div>
          </div>
          <!-- <div class="card mapping-group row">
            <h3 class="visuallyhidden">Control Fields</h3>
            <div class="button-group right">
              <a href="views/mapping/index.html" class="button tertiary">Back to Mapping</a>
              <button class="secondary">Cancel</button>
              <button class="primary">Save</button>
            </div>
          </div> -->
        </div>
      </section>
    </article>
  </main>
  <footer>
    <form class="color-mode">
      <fieldset class="toggle">
        <label for="switch-theme">
          <span class="light-mode">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-sun">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
              <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" />
            </svg>
          </span>
          <input type="checkbox" id="switch-theme" class="toggle" name="switch-theme" title="switch-theme">
          <span class="dark-mode">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-moon">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" />
            </svg>
          </span>
        </label>
      </fieldset>
    </form>
  </footer>
  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="assets/scripts/site.js"></script>
  <script src="../../assets/scripts/headroom.js"></script>
  <script>
    // CHANGE CSS WHEN PAGE LOADS
    $(document).ready(function () {
      $("body").addClass("visible");
      $("body").removeClass("hidden");
    });
    // HEADROOM
    var myElement = document.querySelector("header");
    var headroom = new Headroom(myElement);
    headroom.init();
  </script>
</body>

</html>