// BUTTONS
button,
.button {
  display: inline-flex;
  align-items: center;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  margin: $spacing-8 0 0;
  padding: $spacing-8 $spacing-16;
  border: 1px solid $color-primary;
  border-radius: 2rem;
  font-size: $small;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $color-secondary;
  background-color: $color-primary;
  @include transition(all);

  &:hover,
  &:focus {
    color: $color-primary;
    background-color: $color-secondary;
  }
}