// ROOT
:root {
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --p: 1rem;
  --small: 0.75rem;
  --xsmall: 0.625rem;
  --spacing--4: 0.25rem;
  --spacing--8: 0.5rem;
  --spacing--12: 0.75rem;
  --spacing--16: 1rem;
  --spacing--20: 1.25rem;
  --spacing--24: 1.5rem;
  --spacing--32: 2rem;
  --color--primary: black;
  --color--secondary: white;
  --color--background-dark: #282828;
  --color--background-light: white;
  --color--nav: #7c7c7c;
  --color--nav-hover: #181818;
  --color--input: #cdcdcd;
}


// TEXT SIZE VARIABLES
$h1: var(--h1);
$h2: var(--h2);
$h3: var(--h3);
$h4: var(--h4);
$p: var(--p);
$small: var(--small);
$xsmall: var(--xsmall);


// SPACING VARIABLES
$spacing-4: var(--spacing--4);
$spacing-8: var(--spacing--8);
$spacing-12: var(--spacing--12);
$spacing-16: var(--spacing--16);
$spacing-20: var(--spacing--20);
$spacing-24: var(--spacing--24);
$spacing-32: var(--spacing--32);


// COLOR VARIABLES
$color-primary: var(--color--primary);
$color-secondary: var(--color--secondary);
$color-background-dark: var(--color--background-dark);
$color-background-light: var(--color--background-light);
$color-nav: var(--color--nav);
$color-nav-hover: var(--color--nav-hover);
$color-input: var(--color--input);