:root {
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1.125rem;
  --p: 1rem;
  --small: 0.75rem;
  --xsmall: 0.625rem;
  --spacing--4: 0.25rem;
  --spacing--8: 0.5rem;
  --spacing--12: 0.75rem;
  --spacing--16: 1rem;
  --spacing--20: 1.25rem;
  --spacing--24: 1.5rem;
  --spacing--32: 2rem;
  --color--action-dark: #a2bfd1;
  --color--action-dark-hover: #18618e;
  --color--action-light: #18618e;
  --color--action-light-hover: #a2bfd1;
  --color--bg-dark: #2b2b2b;
  --color--bg-dark-content: #404040;
  --color--bg-light: #e6e6e6;
  --color--bg-light-content: #ffffff;
  --color--border: #a5a5a5;
  --color--status-disabled: #dadada;
  --color--status-disabled-dark: #737373;
  --color--status-invalid: #c63531;
  --color--status-readonly: #000000;
  --color--status-valid: #007a4d;
  --color--text-dark: #000000;
  --color--text-light: #ffffff;
  --border-radius-xs: 0.125rem;
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-xl: 100%;
}

html {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: var(--color--text-dark);
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
html.dark {
  color: var(--color--text-light);
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--color--bg-light);
}

html.dark body {
  background-color: var(--color--bg-dark);
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

svg {
  stroke-width: 1.5;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: var(--color--action-light);
  transition: color 0.25s ease 0s;
}
a:hover, a:focus {
  color: var(--color--action-light-hover);
}

.visuallyhidden {
  display: none;
}

html.dark a {
  color: var(--color--action-dark);
}
html.dark a:hover, html.dark a:focus {
  color: var(--color--action-dark-hover);
}

h1,
h2,
h3,
h4,
p,
small {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.25;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
  padding: 0;
}

h1 {
  font-size: var(--h1);
}

h2 {
  padding: var(--h1) 0 0;
  font-size: var(--h2);
}

h3 {
  padding: var(--h2) 0 0;
  font-size: var(--h3);
}

h4 {
  padding: var(--h3) 0 0;
  font-size: var(--h4);
}

p {
  padding: var(--p) 0;
  font-size: var(--p);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
p:last-of-type {
  padding: var(--p) 0 0;
}

small {
  padding: var(--small) 0;
  font-size: var(--small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
}

.xsmall {
  padding: var(--xsmall) 0;
  font-size: var(--xsmall);
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
}

strong,
em,
b {
  display: inline;
  font-style: normal;
  font-weight: 700;
  color: inherit;
}

ul,
ol,
dl {
  width: 100%;
  margin: 0;
  font-size: var(--p);
  line-height: 1.25;
}
ul li,
ul dd,
ol li,
ol dd,
dl li,
dl dd {
  padding: var(--p) 0;
}

ul {
  padding-left: var(--spacing--24);
}

ol {
  padding-left: var(--spacing--24);
}

ul.no-bullets {
  padding-left: 0;
  list-style-type: none;
}

h1.center,
h2.center,
h3.center,
h4.center,
p.center,
small.center {
  text-align: center;
}

h1.right,
h2.right,
h3.right,
h4.right,
p.right,
small.right {
  text-align: right;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
p:first-child,
small:first-child,
.xsmall:first-child,
ul:first-child,
ol:first-child,
dl:first-child {
  padding: 0;
}

h1 + h2,
h2 + h3,
h3 + h4 {
  padding-top: 0;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p {
  padding-top: 0;
}
h1 + p:last-of-type,
h2 + p:last-of-type,
h3 + p:last-of-type,
h4 + p:last-of-type {
  padding: 0;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% + var(--spacing--16));
  margin-left: calc(var(--spacing--8) * -1);
  padding: var(--spacing--16) 0 0;
}
form:first-child {
  padding: 0;
}
form .button-group {
  width: calc(100% - var(--spacing--16));
  margin-left: var(--spacing--8);
}

@media (min-width: 40rem) {
  form {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
h1 + form,
h2 + form,
h3 + form,
h4 + form {
  padding: 0;
}

input,
input[type=password],
input[type=checkbox],
input[type=number],
input[type=select],
input[type=search],
input[type=radio],
input[type=email],
input[type=date],
input[type=file],
input[type=text],
input[type=tel],
input[type=url],
select {
  overflow: hidden;
  color: var(--color--text-dark);
  font-size: var(--p);
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.25s ease 0s;
}

html.dark input[type=password],
html.dark input[type=checkbox],
html.dark input[type=number],
html.dark input[type=select],
html.dark input[type=search],
html.dark input[type=radio],
html.dark input[type=email],
html.dark input[type=date],
html.dark input[type=file],
html.dark input[type=text],
html.dark input[type=tel],
html.dark input[type=url],
html.dark select {
  color: var(--color--text-light);
}

fieldset {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: calc(100% - var(--spacing--16));
  min-width: 15rem;
  margin: var(--spacing--8);
  padding: 0;
  border: none;
}
fieldset.small {
  width: calc(50% - var(--spacing--16));
  min-width: 7.5rem;
}
fieldset.checkbox {
  width: auto;
  min-width: auto;
}

@media (min-width: 40rem) {
  fieldset {
    width: calc(50% - var(--spacing--16));
  }
  fieldset.small {
    width: calc(25% - var(--spacing--16));
  }
}
@media (min-width: 80rem) {
  fieldset {
    width: calc(33.3333333333% - var(--spacing--16));
  }
  fieldset.small {
    width: calc(16.6666666667% - var(--spacing--16));
  }
}
@media (min-width: 90rem) {
  fieldset {
    width: calc(25% - var(--spacing--16));
  }
  fieldset.small {
    width: calc(12.5% - var(--spacing--16));
  }
}
label,
legend,
.label {
  overflow: hidden;
  padding: 0 0 var(--spacing--8);
  font-size: var(--small);
  font-weight: 700;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}

legend {
  width: 100%;
}

input[type=password],
input[type=number],
input[type=search],
input[type=email],
input[type=text],
input[type=tel],
input[type=url] {
  width: 100%;
  min-height: 3rem;
  margin: 0;
  padding: var(--spacing--8);
  border: 1px solid var(--color--border);
  border-radius: var(--border-radius-sm);
}

input:placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.25s ease 0s;
}

select {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 3rem;
  margin: 0;
  padding: var(--spacing--8) 2.5rem var(--spacing--8) var(--spacing--8);
  border: 1px solid var(--color--border);
  border-radius: var(--border-radius-sm);
}
select option {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-icon {
  display: grid;
  position: absolute;
  top: 1.75rem;
  right: var(--spacing--8);
  z-index: 0;
  width: 2rem;
  height: 2rem;
  padding: var(--spacing--4);
  color: var(--color--border);
}
.select-icon svg {
  width: 100%;
  height: 100%;
}

input[type=checkbox] {
  opacity: 0;
  height: 0;
  min-height: 0;
}
input[type=checkbox] + label {
  position: relative;
  width: auto;
  margin: 0 0 var(--spacing--8) 0;
  padding: 0 0 0 var(--spacing--24);
  font-size: var(--p);
  font-weight: 400;
  line-height: 1.125;
}
input[type=checkbox] + label:last-of-type {
  margin: 0;
}
input[type=checkbox] + label:before {
  display: inline-flex;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--spacing--16);
  height: var(--spacing--16);
  border: solid 1px var(--color--border);
  border-radius: var(--border-radius-xs);
  background-color: transparent;
  content: "";
  transition: all 0.25s ease 0s;
}
input[type=checkbox] + label:after {
  display: inline-flex;
  position: absolute;
  top: 0.0625rem;
  left: 0.0625rem;
  width: var(--spacing--16);
  height: var(--spacing--16);
  background-image: url(../assets/icons/ui/check.svg);
  background-size: contain;
  content: none;
  transition: all 0.25s ease 0s;
}

input[type=checkbox]:checked + label:before {
  border-color: var(--color--bg-dark);
  background-color: var(--color--bg-dark);
}
input[type=checkbox]:checked + label:after {
  content: "";
}

input[type=checkbox]:focus + label:before {
  outline: 1px solid currentColor;
}

html.dark input[type=checkbox] + label:after {
  background-image: url(../assets/icons/ui/check-dark.svg);
}
html.dark input[type=checkbox]:checked + label:before {
  border-color: var(--color--bg-light);
  background-color: var(--color--bg-light);
}

fieldset.radio input[type=radio] {
  opacity: 0;
  height: 0;
  min-height: 0;
}
fieldset.radio input[type=radio] + label {
  position: relative;
  width: auto;
  margin: 0 0 var(--spacing--8) 0;
  padding: 0 0 0 var(--spacing--24);
  font-size: var(--p);
  font-weight: 400;
  line-height: 1.125;
}
fieldset.radio input[type=radio] + label:last-of-type {
  margin: 0;
}
fieldset.radio input[type=radio] + label:before {
  display: inline-flex;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--spacing--16);
  height: var(--spacing--16);
  border: solid 1px var(--color--border);
  border-radius: 100%;
  background-color: transparent;
  content: "";
  transition: all 0.25s ease 0s;
}
fieldset.radio input[type=radio] + label:after {
  display: block;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 100%;
  background-color: var(--color--bg-dark);
  opacity: 0;
  content: "";
  transition: opacity 0.25s ease 0s;
}
fieldset.radio input[type=radio]:checked + label:before {
  border-color: var(--color--bg-dark);
}
fieldset.radio input[type=radio]:checked + label:after {
  opacity: 1;
}

input[type=radio]:focus + label:before {
  outline: 1px solid currentColor;
}

html.dark fieldset.radio input[type=radio]:checked + label:before {
  border-color: var(--color--bg-light);
}
html.dark fieldset.radio input[type=radio]:checked + label:after {
  background-color: var(--color--bg-light);
}

fieldset.toggle label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  margin: 0 0 var(--spacing--8);
  padding: 0 3rem 0 0;
  font-size: var(--p);
  font-weight: 400;
  line-height: 1.25;
  white-space: normal;
}
fieldset.toggle label:last-of-type {
  margin: 0;
}
fieldset.toggle label input[type=checkbox] {
  display: inline-flex;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  width: 2.5rem;
  min-width: 2.5rem;
  height: 1.25rem;
  min-height: 0;
  margin: 0;
  padding: 0;
  border: 1px solid var(--color--border);
  border-radius: var(--border-radius-lg);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
fieldset.toggle label input[type=checkbox]:after {
  display: block;
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 100%;
  background-color: var(--color--border);
  content: "";
  transition: all 0.25s ease 0s;
}
fieldset.toggle label input[type=checkbox]:checked {
  border-color: var(--color--bg-dark);
}
fieldset.toggle label input[type=checkbox]:checked:after {
  margin-left: 1.25rem;
  background-color: var(--color--bg-dark);
}

fieldset.toggle.reverse label {
  padding: 0 0 0 3rem;
}
fieldset.toggle.reverse label input[type=checkbox] {
  right: auto;
  left: 0;
}

html.dark fieldset.toggle label input[type=checkbox]:checked {
  border-color: var(--color--bg-light);
}
html.dark fieldset.toggle label input[type=checkbox]:checked:after {
  margin-left: 1.25rem;
  background-color: var(--color--bg-light);
}

fieldset.range {
  flex-direction: column-reverse;
}
fieldset.range input[type=range] {
  width: 100%;
  height: 1.5rem;
  accent-color: var(--color--border);
}
fieldset.range input[type=range]::-webkit-slider-runnable-track {
  height: var(--spacing--4);
  border-radius: var(--border-radius-sm);
  background-color: var(--color--border);
}
fieldset.range input[type=range]::-moz-range-track {
  height: var(--spacing--4);
  border-radius: var(--border-radius-sm);
  background-color: var(--color--border);
}
fieldset.range input[type=range]::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: -0.375rem;
  border: 1px solid var(--color--border);
  border-radius: 100%;
  background-color: var(--color--bg-light-content);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
fieldset.range input[type=range]::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--color--border);
  border-radius: 100%;
  background-color: var(--color--bg-light-content);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

fieldset.row {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: auto;
}
fieldset.row input + label,
fieldset.row input[type=radio] + label {
  margin: 0 var(--spacing--16) var(--spacing--8) 0;
}
fieldset.row + .row {
  padding: 0;
}

fieldset.column-12,
fieldset.column-11,
fieldset.column-10,
fieldset.column-9,
fieldset.column-8,
fieldset.column-7 {
  display: block;
  width: calc(100% - var(--spacing--16));
}

fieldset.column-6,
fieldset.column-5,
fieldset.column-4,
fieldset.column-3,
fieldset.column-2,
fieldset.column-1 {
  display: inline-block;
  width: calc(50% - var(--spacing--16));
}

@media (min-width: 40rem) {
  fieldset.column-11 {
    width: calc(91.6666666667% - var(--spacing--16));
  }
  fieldset.column-10 {
    width: calc(83.3333333333% - var(--spacing--16));
  }
  fieldset.column-9 {
    width: calc(75% - var(--spacing--16));
  }
  fieldset.column-8 {
    width: calc(66.6666666667% - var(--spacing--16));
  }
  fieldset.column-7 {
    width: calc(58.3333333333% - var(--spacing--16));
  }
  fieldset.column-6 {
    width: calc(50% - var(--spacing--16));
  }
  fieldset.column-5 {
    width: calc(41.6666666667% - var(--spacing--16));
  }
  fieldset.column-4 {
    width: calc(33.3333333333% - var(--spacing--16));
  }
  fieldset.column-3 {
    width: calc(25% - var(--spacing--16));
  }
  fieldset.column-2 {
    width: calc(16.6666666667% - var(--spacing--16));
  }
  fieldset.column-1 {
    width: calc(8.3333333333% - var(--spacing--16));
  }
}
input:disabled,
select:disabled {
  border-color: var(--color--status-disabled);
  color: var(--color--status-disabled);
}

input[type=checkbox]:disabled + label:before {
  border-color: var(--color--status-disabled);
}

input[type=checkbox]:checked:disabled + label:after {
  background-color: var(--color--status-disabled);
}

fieldset.radio input[type=radio]:disabled + label:before {
  border-color: var(--color--status-disabled);
}
fieldset.radio input[type=radio]:disabled + label:after {
  background-color: var(--color--status-disabled);
}

fieldset.toggle input[type=checkbox]:disabled,
fieldset.toggle input[type=checkbox]:checked:disabled {
  border-color: var(--color--status-disabled);
}
fieldset.toggle input[type=checkbox]:disabled:after,
fieldset.toggle input[type=checkbox]:checked:disabled:after {
  background-color: var(--color--status-disabled);
}

fieldset.range input[type=range]:disabled {
  accent-color: var(--color--status-disabled);
}
fieldset.range input[type=range]:disabled::-webkit-slider-runnable-track {
  background-color: var(--color--status-disabled);
}
fieldset.range input[type=range]:disabled::-moz-range-track {
  background-color: var(--color--status-disabled);
}
fieldset.range input[type=range]:disabled::-webkit-slider-thumb {
  border-color: var(--color--status-disabled);
}
fieldset.range input[type=range]:disabled::-moz-range-thumb {
  border-color: var(--color--status-disabled);
}

html.dark input:disabled,
html.dark select:disabled {
  border-color: var(--color--status-disabled-dark);
  color: var(--color--status-disabled-dark);
}
html.dark input[type=checkbox]:disabled + label:before {
  border-color: var(--color--status-disabled-dark);
}
html.dark input[type=checkbox]:checked:disabled + label:after {
  background-color: var(--color--status-disabled-dark);
}
html.dark fieldset.radio input[type=radio]:disabled + label:before {
  border-color: var(--color--status-disabled-dark);
}
html.dark fieldset.radio input[type=radio]:disabled + label:after {
  background-color: var(--color--status-disabled-dark);
}
html.dark fieldset.toggle input[type=checkbox]:disabled,
html.dark fieldset.toggle input[type=checkbox]:checked:disabled {
  border-color: var(--color--status-disabled-dark);
}
html.dark fieldset.toggle input[type=checkbox]:disabled:after,
html.dark fieldset.toggle input[type=checkbox]:checked:disabled:after {
  background-color: var(--color--status-disabled-dark);
}
html.dark fieldset.range input[type=range]:disabled {
  accent-color: var(--color--status-disabled-dark);
}
html.dark fieldset.range input[type=range]:disabled::-webkit-slider-runnable-track {
  background-color: var(--color--status-disabled-dark);
}
html.dark fieldset.range input[type=range]:disabled::-moz-range-track {
  background-color: var(--color--status-disabled-dark);
}
html.dark fieldset.range input[type=range]:disabled::-webkit-slider-thumb {
  border-color: var(--color--status-disabled-dark);
}
html.dark fieldset.range input[type=range]:disabled::-moz-range-thumb {
  border-color: var(--color--status-disabled-dark);
}

input:invalid,
select:invalid {
  border-color: var(--color--status-invalid);
  color: var(--color--status-invalid);
}

pre {
  width: 100%;
  overflow: scroll;
  font-family: monospace;
}

code {
  padding: var(--spacing--4);
  border-radius: var(--border-radius-xs);
  font-family: monospace;
  font-size: var(--small);
  line-height: 1;
  background-color: var(--color--bg-light);
}

html.dark code {
  background-color: var(--color--border);
}

table {
  width: 100%;
  margin: var(--spacing--8) 0 0;
  padding: 0;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: left;
}
table thead {
  display: none;
  font-size: var(--small);
}
table tr,
table th,
table td {
  display: block;
}
table tr {
  padding: 0 0 var(--p);
}
table tr:last-of-type {
  padding: 0;
}
table th,
table td {
  display: flex;
  align-items: center;
}
table td {
  justify-content: space-between;
  padding: 0 0 var(--spacing--4);
}
table td:before {
  display: inline-block;
  overflow: hidden;
  padding: 0 var(--spacing--8) 0 0;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  content: attr(data-label);
}

@media (min-width: 40rem) {
  table thead {
    display: table-header-group;
  }
  table thead th {
    padding: 0 0 var(--spacing--4);
  }
  table tr {
    display: table-row;
    padding: 0;
    line-height: 1.5;
  }
  table th,
  table td {
    display: table-cell;
  }
  table td:before {
    display: none;
  }
}
table caption {
  padding: 0 0 var(--spacing--8);
  font-size: var(--h3);
  font-weight: 700;
  text-align: left;
}

main {
  width: calc(100% - var(--spacing--32));
  min-height: calc(100vh - 4rem);
  margin: 0 auto;
  padding: var(--spacing--16);
  border-radius: var(--border-radius-md);
  background-color: var(--color--bg-light-content);
  background-image: url(../assets/images/columns-w-margin.png);
  background-repeat: repeat-y;
  background-size: contain;
  background-image: none;
}

html.dark main {
  background-color: var(--color--bg-dark-content);
}

article {
  background-image: url(../assets/images/columns-no-margin-mobile.png);
  background-repeat: repeat-y;
  background-size: contain;
  background-image: none;
}
article section {
  padding: var(--spacing--32) 0 0;
}
article section:first-of-type {
  padding: 0;
}

@media (min-width: 40rem) {
  article {
    background-image: url(../assets/images/columns-no-margin.png);
    background-image: none;
  }
}
form.color-mode {
  width: auto;
  margin: 0;
}
form.color-mode fieldset {
  min-width: revert;
  margin: 0;
}
form.color-mode fieldset label {
  padding: 0;
}
form.color-mode fieldset label span {
  display: grid;
  width: 1.25rem;
  height: 1.25rem;
  color: var(--color--border);
}
form.color-mode fieldset label span svg {
  width: 100%;
  height: 100%;
}
form.color-mode fieldset label span:first-of-type {
  margin: 0 var(--spacing--8) 0 0;
}
form.color-mode fieldset label input[type=checkbox] {
  position: relative;
  margin: 0 var(--spacing--8) 0 0;
  border-color: var(--color--border);
}
form.color-mode fieldset label input[type=checkbox]:checked {
  border-color: var(--color--bg-dark);
}
form.color-mode fieldset label input[type=checkbox]:checked:after {
  margin-left: 1.25rem;
  background-color: var(--color--bg-dark);
}

html.dark form.color-mode fieldset label input[type=checkbox] {
  border-color: inherit;
}
html.dark form.color-mode fieldset label input[type=checkbox]:checked {
  border-color: var(--color--bg-light);
}
html.dark form.color-mode fieldset label input[type=checkbox]:checked:after {
  margin-left: 1.25rem;
  background-color: var(--color--bg-light);
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: var(--spacing--16) var(--spacing--8) 0;
  padding: var(--spacing--16);
  border: 1px solid;
  border-color: var(--color--border);
  border-radius: var(--border-radius-md);
}

@media (min-width: 40rem) {
  .card {
    width: calc(50% - var(--spacing--16));
  }
}
@media (min-width: 80rem) {
  .card {
    width: calc(33.3333333333% - var(--spacing--16));
  }
}
@media (min-width: 90rem) {
  .card {
    width: calc(25% - var(--spacing--16));
  }
}
.card.column-12,
.card.column-11,
.card.column-10,
.card.column-9,
.card.column-8,
.card.column-7,
.card.column-6,
.card.column-5,
.card.column-4,
.card.column-3,
.card.column-2,
.card.column-1 {
  width: calc(100% - var(--spacing--16));
}

@media (min-width: 40rem) {
  .card.column-11 {
    width: calc(91.6666666667% - var(--spacing--16));
  }
  .card.column-10 {
    width: calc(83.3333333333% - var(--spacing--16));
  }
  .card.column-9 {
    width: calc(75% - var(--spacing--16));
  }
  .card.column-8 {
    width: calc(66.6666666667% - var(--spacing--16));
  }
  .card.column-7 {
    width: calc(58.3333333333% - var(--spacing--16));
  }
  .card.column-6 {
    width: calc(50% - var(--spacing--16));
  }
  .card.column-5 {
    width: calc(41.6666666667% - var(--spacing--16));
  }
  .card.column-4 {
    width: calc(33.3333333333% - var(--spacing--16));
  }
  .card.column-3 {
    width: calc(25% - var(--spacing--16));
  }
  .card.column-2 {
    width: calc(16.6666666667% - var(--spacing--16));
  }
  .card.column-1 {
    width: calc(8.3333333333% - var(--spacing--16));
  }
}
.row.cards {
  width: calc(100% + var(--spacing--16));
  margin-left: calc(var(--spacing--8) * -1);
}

.card form fieldset {
  width: calc(100% - var(--spacing--16));
}
.card form fieldset.small {
  width: calc(50% - var(--spacing--16));
}
.card form .row fieldset {
  width: calc(100% - var(--spacing--16));
}
.card form .row fieldset.small {
  width: calc(50% - var(--spacing--16));
}
@media (min-width: 40rem) {
  .card form .row fieldset {
    width: calc(50% - var(--spacing--16));
  }
  .card form .row fieldset.small {
    width: calc(25% - var(--spacing--16));
  }
}
@media (min-width: 80rem) {
  .card form .row fieldset {
    width: calc(33.3333333333% - var(--spacing--16));
  }
  .card form .row fieldset.small {
    width: calc(16.6666666667% - var(--spacing--16));
  }
}
@media (min-width: 90rem) {
  .card form .row fieldset {
    width: calc(25% - var(--spacing--16));
  }
  .card form .row fieldset.small {
    width: calc(12.5% - var(--spacing--16));
  }
}

.card ul.options {
  padding: var(--spacing--16) 0 0;
  list-style-type: none;
}
.card ul.options li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: var(--spacing--8) 0;
}
.card ul.options li:after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color--border);
  content: "";
}
.card ul.options li:first-of-type {
  padding-top: 0;
}
.card ul.options li:last-of-type {
  padding-bottom: 0;
}
.card ul.options li:last-of-type:after {
  display: none;
}
.card ul.options li span.action {
  display: flex;
  align-items: center;
  padding: 0 0 0 var(--spacing--4);
}
.card ul.options li span.status {
  display: flex;
  width: 1rem;
  height: 1rem;
  margin: 0 var(--spacing--4) 0 0;
  padding: calc(var(--spacing--4) / 2);
  border-radius: 100%;
  color: var(--color--text-light);
}
.card ul.options li span.status svg {
  width: 100%;
  max-width: 0;
  height: 100%;
  max-height: 0;
  opacity: 0;
  stroke-width: 2.5;
  transition: all 0.25s ease 0s;
}
.card ul.options li span.status.invalid {
  background-color: var(--color--status-invalid);
}
.card ul.options li span.status.invalid svg.invalid {
  max-width: none;
  max-height: none;
  opacity: 1;
}
.card ul.options li span.status.valid {
  background-color: var(--color--status-valid);
}
.card ul.options li span.status.valid svg.valid {
  max-width: none;
  max-height: none;
  opacity: 1;
}
.card ul.options li span.icon {
  display: flex;
  left: calc(50% - var(--spacing--16));
  width: 1rem;
  height: 1rem;
  margin: 0 var(--spacing--4);
  padding: 0;
  color: inherit;
}
.card ul.options li span.icon svg {
  width: 100%;
  height: 100%;
  stroke-width: 1.5;
}
.card ul.options li button,
.card ul.options li .button {
  margin: 0;
  font-size: var(--xsmall);
}
.card ul.options li.first {
  padding: 0;
  font-weight: 700;
}
.card ul.options li.first:after {
  display: none;
}
.card ul.options + ul.options {
  padding: var(--spacing--32) 0 0;
}

@media (min-width: 40rem) {
  .card ul.options li span.icon {
    position: absolute;
  }
}
.card form fieldset.checklist {
  flex-direction: column;
  align-items: flex-start;
}
.card form fieldset.checklist legend {
  font-size: var(--xsmall);
  text-align: right;
  text-transform: uppercase;
}
.card form fieldset.checklist input[type=checkbox] + label {
  width: 100%;
  margin: var(--spacing--8) 0;
  padding: 0 var(--spacing--32) 0 0;
}
.card form fieldset.checklist input[type=checkbox] + label:before {
  right: 0;
  left: auto;
}
.card form fieldset.checklist input[type=checkbox] + label:after {
  right: 0.0625rem;
  left: auto;
}
.card form fieldset.checklist input[type=checkbox] + label:last-of-type {
  margin-bottom: 0;
}
.card ul li,
.card ol li {
  padding: var(--spacing--8) 0 0;
}

.card .row + .row {
  padding: var(--spacing--8) 0 0;
}
.card .row .column-11,
.card .row .column-10,
.card .row .column-9,
.card .row .column-8,
.card .row .column-7,
.card .row .column-6,
.card .row .column-5,
.card .row .column-4,
.card .row .column-3,
.card .row .column-2,
.card .row .column-1 {
  display: inline-block;
  width: calc(50% - var(--spacing--8));
}

@media (min-width: 40rem) {
  .card .row .column-11 {
    width: 91.6666666667%;
  }
  .card .row .column-10 {
    width: 83.3333333333%;
  }
  .card .row .column-9 {
    width: 75%;
  }
  .card .row .column-8 {
    width: 66.6666666667%;
  }
  .card .row .column-7 {
    width: 58.3333333333%;
  }
  .card .row .column-6 {
    width: 50%;
  }
  .card .row .column-5 {
    width: 41.6666666667%;
  }
  .card .row .column-4 {
    width: 33.3333333333%;
  }
  .card .row .column-3 {
    width: 25%;
  }
  .card .row .column-2 {
    width: 16.6666666667%;
  }
  .card .row .column-1 {
    width: 8.3333333333%;
  }
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.row + .row {
  padding: var(--spacing--16) 0 0;
}

.row.center {
  justify-content: center;
}

.row.flex-end {
  justify-content: flex-end;
}

.row.space-between {
  justify-content: space-between;
}

.row.align-center {
  align-items: center;
}

.row.align-end {
  align-items: flex-end;
}

.row.align-start {
  align-items: flex-start;
}

.column-12,
.column-11,
.column-10,
.column-9,
.column-8,
.column-7 {
  width: 100%;
}

.column-6,
.column-5,
.column-4,
.column-3,
.column-2,
.column-1 {
  width: 50%;
}

@media (min-width: 40rem) {
  .column-11 {
    width: 91.6666666667%;
  }
  .column-10 {
    width: 83.3333333333%;
  }
  .column-9 {
    width: 75%;
  }
  .column-8 {
    width: 66.6666666667%;
  }
  .column-7 {
    width: 58.3333333333%;
  }
  .column-6 {
    width: 50%;
  }
  .column-5 {
    width: 41.6666666667%;
  }
  .column-4 {
    width: 33.3333333333%;
  }
  .column-3 {
    width: 25%;
  }
  .column-2 {
    width: 16.6666666667%;
  }
  .column-1 {
    width: 8.3333333333%;
  }
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: var(--spacing--16);
}

.headroom {
  transition: all 0.5s ease 0s;
  will-change: transform;
}

.headroom--pinned {
  transform: translateY(0);
}

.headroom--unpinned {
  transform: translateY(-100vh);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin: 0;
  padding: var(--spacing--16);
}

footer nav {
  display: flex;
  flex-direction: row;
  width: 100%;
}
footer nav ul {
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--p);
}
footer nav ul li {
  padding: 0 0 var(--spacing--4);
  line-height: 1.25;
  text-transform: none;
}
footer nav ul li:first-of-type {
  font-size: var(--xsmall);
  text-transform: uppercase;
}
footer form {
  padding: var(--spacing--16) 0 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  font-size: var(--small);
  line-height: 1.5;
  list-style-type: none;
  text-transform: uppercase;
}
nav ul li {
  padding: 0 var(--spacing--16) 0 0;
  font-weight: 500;
}
nav ul li:last-of-type {
  padding: 0;
}

@media (min-width: 35rem) {
  nav ul {
    line-height: 1;
  }
}
.tabs .tablist ul {
  position: relative;
  list-style-type: none;
}
.tabs .tablist ul li {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
}
.tabs .tablist ul li button {
  border: 0;
  border-radius: 0;
  text-transform: none;
  color: var(--color--action-light);
  background-color: transparent;
}
.tabs .tablist ul li button:after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color--action-light);
  content: "";
  transition: height 0.25s ease 0s;
}
.tabs .tablist ul li button:hover:after, .tabs .tablist ul li button:focus:after {
  height: 4px;
}
.tabs .tablist ul li button.is-active:after {
  height: 4px;
}

.tabs .panels {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin: 0;
  padding: var(--spacing--8) 0 0;
}
.tabs .panels .panel {
  max-width: 0;
  max-height: 0;
  opacity: 0;
  transform: translateX(100vw);
  transition: all 0.5s ease 0s;
}
.tabs .panels .panel.is-current {
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
  transform: translateX(0);
}

.tabs.vertical {
  display: flex;
}
.tabs.vertical .tablist ul {
  display: flex;
  flex-direction: column;
  padding-right: var(--spacing--8);
}

html.dark .tabs .tablist ul li button {
  color: var(--color--action-dark);
}
html.dark .tabs .tablist ul li button:after {
  background-color: var(--color--action-dark);
}

.toasts {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 1rem;
  width: calc(100% - 4rem);
  margin: 0;
}

.toast {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: auto;
  max-width: 100%;
  min-width: 15rem;
  margin: 0;
  padding: var(--spacing--8);
  border-radius: var(--border-radius-sm);
  color: var(--color--text-light);
  background-color: var(--color--bg-dark);
  transform: translateY(100rem);
  transition: transform 0.75s ease 0s;
}
.toast p {
  padding: 0;
  font-size: var(--small);
}
.toast button.tertiary {
  overflow: visible;
  margin: 0 var(--spacing--8);
}
.toast button.close-toast {
  margin: 0 0 0 var(--spacing--8);
  color: var(--color--text-light);
}
.toast button.close-toast:hover, .toast button.close-toast:focus {
  background-color: rgba(255, 255, 255, 0.25);
}
.toast.show {
  transform: translateY(-4rem);
}

.toast.negative button.tertiary,
.toast.positive button.tertiary {
  color: var(--color--text-light);
}
.toast.negative button.tertiary:hover, .toast.negative button.tertiary:focus,
.toast.positive button.tertiary:hover,
.toast.positive button.tertiary:focus {
  color: var(--color--action-light-hover);
}

.toast.negative {
  background-color: var(--color--status-invalid);
}

.toast.positive {
  background-color: var(--color--status-valid);
}

.toast.action button.tertiary:after {
  display: block;
  position: absolute;
  top: 0;
  right: calc(-1 * var(--spacing--8));
  width: 1px;
  height: 100%;
  background-color: var(--color--border);
  content: "";
}

.toast.icon span.icon {
  display: grid;
  width: var(--spacing--20);
  height: var(--spacing--20);
  margin: 0 var(--spacing--4) 0 0;
}
.toast.icon span.icon svg {
  width: 100%;
  height: 100%;
}

html.dark .toast {
  color: var(--color--text-dark);
  background-color: var(--color--bg-light-content);
}
html.dark .toast button.close-toast {
  color: inherit;
}
html.dark .toast button.close-toast:hover, html.dark .toast button.close-toast:focus {
  background-color: rgba(43, 43, 43, 0.25);
}
html.dark .toast.negative {
  color: var(--color--text-light);
  background-color: var(--color--status-invalid);
}
html.dark .toast.positive {
  color: var(--color--text-light);
  background-color: var(--color--status-valid);
}

details {
  position: relative;
  width: 100%;
  min-height: 3rem;
  margin: var(--spacing--16) 0 0;
  padding: var(--spacing--8);
  border: 1px solid var(--color--border);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
details:after {
  display: grid;
  position: absolute;
  top: var(--spacing--12);
  right: var(--spacing--8);
  z-index: 0;
  width: var(--spacing--24);
  height: var(--spacing--24);
  background-image: url(../assets/icons/ui/chevron-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  transform: rotate(0);
  transition: transform 0.25s ease 0s;
}
details summary {
  overflow: hidden;
  font-weight: 700;
  line-height: var(--spacing--32);
  list-style: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
details p {
  padding: 0;
}
details p:last-of-type {
  padding: 0;
}

details[open]:after {
  transform: rotate(450deg);
}

.drawers {
  display: block;
  position: fixed;
  top: 3.25rem;
  right: 0.525rem;
  left: 0;
  z-index: 500;
  margin: 0;
}
.drawers .drawer {
  display: flex;
  position: absolute;
  top: 0;
  width: auto;
  padding: var(--spacing--16);
  transition: all 0.25s ease 0s;
}
.drawers .drawer > .card {
  width: calc(100% - var(--spacing--16));
  background-color: var(--color--bg-light-content);
}
.drawers .drawer.right {
  right: 0;
  transform: translateX(100vw);
}
.drawers .drawer.left {
  left: 0;
  transform: translateX(-100vw);
}
.drawers .drawer.show {
  transform: translateX(0vw);
}

button[popovertarget].text {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}
button[popovertarget].text:hover, button[popovertarget].text:focus {
  color: inherit;
  background-color: transparent;
}

[popover] {
  padding: var(--spacing--16);
  border: 0;
  border-radius: var(--border-radius-xs);
  opacity: 0;
  transition: opacity 0.25s ease 0s;
}

[popover]:popover-open {
  opacity: 1;
}

button,
.button,
a.button {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  overflow: hidden;
  margin: var(--spacing--8) var(--spacing--8) var(--spacing--8) 0;
  padding: var(--spacing--8) var(--spacing--16);
  border: 1px solid var(--color--action-light);
  border-radius: var(--border-radius-sm);
  font-size: var(--small);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--color--text-light);
  background-color: var(--color--action-light);
  transition: all 0.25s ease 0s;
}
button:hover, button:focus,
.button:hover,
.button:focus,
a.button:hover,
a.button:focus {
  border-color: var(--color--action-light-hover);
  background-color: var(--color--action-light-hover);
}

button.secondary,
.button.secondary,
a.button.secondary {
  color: var(--color--action-light);
  background-color: transparent;
}
button.secondary:hover, button.secondary:focus,
.button.secondary:hover,
.button.secondary:focus,
a.button.secondary:hover,
a.button.secondary:focus {
  border-color: var(--color--action-light-hover);
  color: var(--color--action-light-hover);
}

button.tertiary,
.button.tertiary,
a.button.tertiary {
  margin-right: var(--spacing--16);
  padding: 0;
  border: none;
  color: var(--color--action-light);
  background-color: transparent;
}
button.tertiary:hover, button.tertiary:focus,
.button.tertiary:hover,
.button.tertiary:focus,
a.button.tertiary:hover,
a.button.tertiary:focus {
  color: var(--color--action-light-hover);
}

button.primary:disabled,
.button.primary:disabled,
a.button.primary:disabled {
  border-color: var(--color--status-disabled);
  background-color: var(--color--status-disabled);
}
button.primary:disabled:hover, button.primary:disabled:focus,
.button.primary:disabled:hover,
.button.primary:disabled:focus,
a.button.primary:disabled:hover,
a.button.primary:disabled:focus {
  border-color: var(--color--status-disabled);
  background-color: var(--color--status-disabled);
}

button.secondary:disabled,
.button.secondary:disabled,
a.button.secondary:disabled {
  border-color: var(--color--status-disabled);
  color: var(--color--status-disabled);
}
button.secondary:disabled:hover, button.secondary:disabled:focus,
.button.secondary:disabled:hover,
.button.secondary:disabled:focus,
a.button.secondary:disabled:hover,
a.button.secondary:disabled:focus {
  border-color: var(--color--status-disabled);
  color: var(--color--status-disabled);
}

button.tertiary:disabled,
.button.tertiary:disabled,
a.button.tertiary:disabled {
  color: var(--color--status-disabled);
}
button.tertiary:disabled:hover, button.tertiary:disabled:focus,
.button.tertiary:disabled:hover,
.button.tertiary:disabled:focus,
a.button.tertiary:disabled:hover,
a.button.tertiary:disabled:focus {
  color: var(--color--status-disabled);
}

html.dark button,
html.dark .button,
html.dark a.button {
  border-color: var(--color--action-dark);
  color: var(--color--text-light);
  background-color: var(--color--action-dark);
}
html.dark button:hover, html.dark button:focus,
html.dark .button:hover,
html.dark .button:focus,
html.dark a.button:hover,
html.dark a.button:focus {
  border-color: var(--color--action-dark-hover);
  color: var(--color--text-light);
  background-color: var(--color--action-dark-hover);
}
html.dark button.secondary,
html.dark .button.secondary,
html.dark a.button.secondary {
  color: var(--color--action-dark);
  color: var(--color--text-light);
  background-color: transparent;
}
html.dark button.secondary:hover, html.dark button.secondary:focus,
html.dark .button.secondary:hover,
html.dark .button.secondary:focus,
html.dark a.button.secondary:hover,
html.dark a.button.secondary:focus {
  border-color: var(--color--action-dark-hover);
  color: var(--color--text-light);
  color: var(--color--action-dark-hover);
}
html.dark button.tertiary,
html.dark .button.tertiary,
html.dark a.button.tertiary {
  color: var(--color--action-dark);
  background-color: transparent;
}
html.dark button.tertiary:hover, html.dark button.tertiary:focus,
html.dark .button.tertiary:hover,
html.dark .button.tertiary:focus,
html.dark a.button.tertiary:hover,
html.dark a.button.tertiary:focus {
  color: var(--color--action-dark-hover);
}
html.dark button.primary:disabled,
html.dark .button.primary:disabled,
html.dark a.button.primary:disabled {
  border-color: var(--color--status-disabled);
  background-color: var(--color--status-disabled);
}
html.dark button.primary:disabled:hover, html.dark button.primary:disabled:focus,
html.dark .button.primary:disabled:hover,
html.dark .button.primary:disabled:focus,
html.dark a.button.primary:disabled:hover,
html.dark a.button.primary:disabled:focus {
  border-color: var(--color--status-disabled);
  background-color: var(--color--status-disabled);
}
html.dark button.secondary:disabled,
html.dark .button.secondary:disabled,
html.dark a.button.secondary:disabled {
  border-color: var(--color--status-disabled);
  color: var(--color--status-disabled);
}
html.dark button.secondary:disabled:hover, html.dark button.secondary:disabled:focus,
html.dark .button.secondary:disabled:hover,
html.dark .button.secondary:disabled:focus,
html.dark a.button.secondary:disabled:hover,
html.dark a.button.secondary:disabled:focus {
  border-color: var(--color--status-disabled);
  color: var(--color--status-disabled);
}
html.dark button.tertiary:disabled,
html.dark .button.tertiary:disabled,
html.dark a.button.tertiary:disabled {
  color: var(--color--status-disabled);
}
html.dark button.tertiary:disabled:hover, html.dark button.tertiary:disabled:focus,
html.dark .button.tertiary:disabled:hover,
html.dark .button.tertiary:disabled:focus,
html.dark a.button.tertiary:disabled:hover,
html.dark a.button.tertiary:disabled:focus {
  color: var(--color--status-disabled);
}

button.icon,
.button.icon,
a.button.icon {
  padding: var(--spacing--4);
  border: 0;
  border-radius: 100%;
  color: var(--color--bg-dark);
  background-color: rgba(43, 43, 43, 0);
}
button.icon:hover, button.icon:focus,
.button.icon:hover,
.button.icon:focus,
a.button.icon:hover,
a.button.icon:focus {
  background-color: rgba(43, 43, 43, 0.25);
}
button.icon svg,
.button.icon svg,
a.button.icon svg {
  width: 100%;
  height: 100%;
  stroke-width: 1.5;
}
button.icon.sm,
.button.icon.sm,
a.button.icon.sm {
  width: 1rem;
  max-width: 1rem;
  min-width: 1rem;
  height: 1rem;
  max-height: 1rem;
  max-height: 1rem;
}
button.icon.md,
.button.icon.md,
a.button.icon.md {
  width: 1.5rem;
  max-width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  max-height: 1.5rem;
  max-height: 1.5rem;
}
button.icon.lg,
.button.icon.lg,
a.button.icon.lg {
  width: 2rem;
  max-width: 2rem;
  min-width: 2rem;
  height: 2rem;
  max-height: 2rem;
  min-height: 2rem;
}
button.icon.xl,
.button.icon.xl,
a.button.icon.xl {
  width: 3rem;
  max-width: 3rem;
  min-width: 3rem;
  height: 3rem;
  max-height: 3rem;
  min-height: 3rem;
}

html.dark button.icon,
html.dark .button.icon,
html.dark a.button.icon {
  color: var(--color--bg-light);
  background-color: rgba(230, 230, 230, 0);
}
html.dark button.icon:hover, html.dark button.icon:focus,
html.dark .button.icon:hover,
html.dark .button.icon:focus,
html.dark a.button.icon:hover,
html.dark a.button.icon:focus {
  background-color: rgba(230, 230, 230, 0.25);
}

.button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: var(--spacing--16) 0 0;
}
.button-group button,
.button-group .button {
  margin-bottom: 0;
}

.button-group.center {
  justify-content: center;
}

.button-group.right {
  justify-content: flex-end;
}
.button-group.right button:last-child,
.button-group.right .button:last-child,
.button-group.right a.button:last-child {
  margin-right: 0;
}

h1 span.utility button.tertiary,
h1 span.utility .button.tertiary,
h2 span.utility button.tertiary,
h2 span.utility .button.tertiary,
h3 span.utility button.tertiary,
h3 span.utility .button.tertiary,
h4 span.utility button.tertiary,
h4 span.utility .button.tertiary {
  margin: 0 0 0 var(--spacing--16);
  padding: 0;
}