// DETAILS
details {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 3rem;
  min-height: 3rem;
  margin: $spacing-4 0;
  padding: 0.5rem;
  border: 1px solid $color-input;
  border-radius: 0.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;
  font-size: $p;
  color: black;
  @include appearance(none);
  @include transition(max-height);

  summary {
    padding: $spacing-8 0;
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      padding: $spacing-4 0;
    }
  }
}

details[open] {
  max-height: 100vh;
}