// DETAILS
details {
  min-height: auto;
  margin: $spacing-8 0 0;
  padding: 0;
  border: none;

  &:after {
    top: 0;
    right: 0;
    width: $spacing-16;
    height: $spacing-16;
  }

  summary {
    padding: 0 $spacing-24 0 0;
    line-height: $spacing-16;
    color: $color--action-light;
    cursor: pointer;
    @include transition(color, 0.25s, ease);

    &:hover,
    &:focus {
      color: $color--action-light-hover;
    }
  }

  ul {
    max-height: 0;
    @include transition(max-height, 0.5s, ease);

    li {
      padding: $spacing-8 0 0;
    }
  }
}

details[open] {
  ul {
    max-height: 100vh;
  }
}


// DETAILS DARK
html.dark {
  details {
    summary {
      color: $color--action-dark;

      &:hover,
      &:focus {
        color: $color--action-dark-hover;
      }
    }
  }
}