// LAYOUT - MAIN + NAVIGATION-INTEGRATIONS
@media (min-width: 40rem) {
  main {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    nav.integrations {
      width: 15%;
      padding: $spacing-16 0 0;
    }
  }
}


// LAYOUT - ARTICLE
@media (min-width: 40rem) {
  main article {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    padding: $spacing-16 0 0 $spacing-16;
  }
}


// LAYOUT - ARTICLE - SECTION-CONTENT
main article .content {
  ul.integration-details {
    position: relative;
    padding: 0 0 $spacing-32;
    list-style-type: none;

    li {
      padding: $spacing-16 0 0;

      span {
        padding: 0 $spacing-8 0 0;
      }
    }

    &:after {
      display: block;
      position: absolute;
      bottom: $spacing-12;
      width: 100%;
      height: 1px;
      background-color: $color--border;
      content: "";
    }
  }
}

@media (min-width: 40rem) {
  main article .content {
    width: 75%;
    padding: 0 $spacing-16 0 0;
  }
}


// LAYOUT - ARTICLE - SECTION-ENTITIES
main article .entities {
  padding: $spacing-16 0 0;

  ul.entity-options {
    padding: 0;
    list-style-type: none;

    li {
      padding: $spacing-16 0 0;
    }
  }
}

@media (min-width: 40rem) {
  main article .entities {
    width: 25%;
    padding: 0;
  }
}