// CARD UL MAPPING
.card {
  ul.mapping {
    position: relative;
    padding: $spacing-4 0 $spacing-20;
    list-style-type: none;

    &:after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color--border;
      content: "";
    }

    &:last-of-type {
      padding-bottom: 0;

      &:after {
        display: none;
      }
    }

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: relative;
      width: 100%;
      padding: $spacing-4 0;

      &:first-of-type {
        padding: 0;
        font-size: $small;
        font-weight: 700;

        &:after {
          display: none;
        }

        span.field:after,
        span.element:after {
          display: none;
        }
      }

      &:last-of-type {
        padding-bottom: 0;

        &:after {
          display: none;
        }
      }

      span {
        display: flex;
        position: relative;
        width: calc((100% / 3) - $spacing-8);
        overflow: scroll;
        white-space: nowrap;
      }

      span.field,
      span.element {
        &:after {
          display: inline-flex;
          position: absolute;
          top: calc($spacing-4 / 2);
          right: 0;
          width: $spacing-16;
          height: $spacing-16;
          background-image: url(../../../assets/icons/ui/arrow-right.svg);
          background-size: contain;
          content: none;
        }
      }
    }
  }
}

@media (min-width: 40rem) {
  .card {
    ul.mapping {
      li {

        span.field,
        span.element {
          padding: 0 $spacing-20 0 0;

          &:after {
            content: "";
          }
        }
      }
    }
  }
}


// DASHBOARD ENTITIES
.card ul.options li {
  display: none;
  max-height: 0;
  opacity: 0;
  @include transition(all);

  &.show {
    display: flex;
    max-height: 100vh;
    opacity: 1;
  }
}


// ENTITY CARDS
.card.entity {
  display: none;
  max-height: 0;
  opacity: 0;
  @include transition(all);

  &.show {
    display: inherit;
    max-height: 100vh;
    opacity: 1;
  }
}


// ENTITY FIELD MAPPING
.card ul.mapping li {
  display: none;
  max-height: 0;
  opacity: 0;
  @include transition(all);

  &.show {
    display: flex;
    max-height: 100vh;
    opacity: 1;
  }
}


// FIELD MAPPING GROUP
form.mapping-groups {
  .mapping-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    padding: 0 0 $spacing-32;

    &:after {
      display: block;
      position: absolute;
      bottom: 0;
      left: $spacing-8;
      width: calc(100% - $spacing-16);
      height: 1px;
      margin-bottom: $spacing-16;
      background-color: $color--border;
      content: "";
    }

    fieldset.toggle {
      margin-bottom: 0;
    }

    .preview {
      display: flex;
      flex-direction: column;
      width: calc((100% / 2) - $spacing-16);
      margin: $spacing-8;
      opacity: 1;
      @include transition(opacity);

      p {
        padding: 0;
        line-height: 3rem;
      }
    }

    .preview.dim {
      opacity: 0.15;
    }
  }
}

@media (min-width: 40rem) {
  form.mapping-groups {
    .mapping-group {
      width: calc(100% / 2);
    }
  }
}

@media (min-width: 64rem) {
  form.mapping-groups {
    .mapping-group {
      width: calc(100% / 3);
    }
  }
}

@media (min-width: 80rem) {
  form.mapping-groups {
    .mapping-group {
      width: calc(100% / 4);
    }
  }
}

@media (min-width: 96rem) {
  form.mapping-groups {
    .mapping-group {
      width: calc(100% / 5);
    }
  }
}