// APPLICATION LAYOUT
body {

  nav {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 4rem;
    max-height: 4rem;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 3rem);
    padding: $spacing-8;

    .content {
      height: calc(100vh - 8rem);
      padding: $spacing-8;
    }
  }
}

@media (min-width: 40rem) {
  body {

    nav {
      position: relative;
      top: 0;
      left: 0;
      width: 4rem;
      height: auto;
      max-height: none;
    }

    main {
      width: calc(100% - 4rem);
      height: 100vh;

      .content {
        height: calc(100vh - 4rem);
      }
    }
  }
}

@import "content";