// CARDS
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: $spacing-16 $spacing-8 0;
  padding: $spacing-16;
  border: 1px solid;
  border-color: $color--border;
  border-radius: $border-radius-md;
}

@media (min-width: 40rem) {
  .card {
    width: calc((100% / 2) - $spacing-16);
  }
}

@media (min-width: 80rem) {
  .card {
    width: calc((100% / 3) - $spacing-16);
  }
}

@media (min-width: 90rem) {
  .card {
    width: calc((100% / 4) - $spacing-16);
  }
}


// CARDS WITH COLUMN SIZES
.card.column-12,
.card.column-11,
.card.column-10,
.card.column-9,
.card.column-8,
.card.column-7,
.card.column-6,
.card.column-5,
.card.column-4,
.card.column-3,
.card.column-2,
.card.column-1 {
  width: 100%;
}

@media (min-width: 40rem) {

  .card.column-11 {
    width: calc(((100% / 12) * 11) - $spacing-16);
  }

  .card.column-10 {
    width: calc(((100% / 12) * 10) - $spacing-16);
  }

  .card.column-9 {
    width: calc(((100% / 12) * 9) - $spacing-16);
  }

  .card.column-8 {
    width: calc(((100% / 12) * 8) - $spacing-16);
  }

  .card.column-7 {
    width: calc(((100% / 12) * 7) - $spacing-16);
  }

  .card.column-6 {
    width: calc(((100% / 12) * 6) - $spacing-16);
  }

  .card.column-5 {
    width: calc(((100% / 12) * 5) - $spacing-16);
  }

  .card.column-4 {
    width: calc(((100% / 12) * 4) - $spacing-16);
  }

  .card.column-3 {
    width: calc(((100% / 12) * 3) - $spacing-16);
  }

  .card.column-2 {
    width: calc(((100% / 12) * 2) - $spacing-16);
  }

  .card.column-1 {
    width: calc((100% / 12) - $spacing-16);
  }
}


// CARDS DARK MODE
html.dark {
  .card {
    // border-color: $color--bg-light;
  }
}


// CARD ROWS
.row.cards {
  width: calc(100% + $spacing-16);
  margin-left: calc($spacing-8 * -1);
}


// CARD FORMS
.card {
  form {

    fieldset {
      width: calc(100% - $spacing-16);
    }

    fieldset.small {
      width: calc((100% / 2) - $spacing-16);
    }
  }
}


// CARD OPTIONS
.card {
  ul.options {
    padding: $spacing-16 0 0;
    list-style-type: none;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: relative;
      width: 100%;
      padding: $spacing-8 0;

      &:after {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $color--border;
        content: "";
      }

      &:first-of-type {
        padding-top: 0;
      }

      &:last-of-type {
        padding-bottom: 0;

        &:after {
          display: none;
        }
      }

      span.action {
        display: flex;
        align-items: center;
        padding: 0 0 0 $spacing-4;
      }

      span.status {
        display: flex;
        width: 1rem;
        height: 1rem;
        margin: 0 $spacing-4 0 0;
        padding: calc($spacing-4 / 2);
        border-radius: 100%;
        color: $color--text-light;

        svg {
          width: 100%;
          max-width: 0;
          height: 100%;
          max-height: 0;
          opacity: 0;
          stroke-width: 2.5;
          @include transition(all, 0.25s, ease)
        }
      }

      span.status.invalid {
        background-color: $color--status-invalid;

        svg.invalid {
          max-width: none;
          max-height: none;
          opacity: 1;
        }
      }

      span.status.valid {
        background-color: $color--status-valid;

        svg.valid {
          max-width: none;
          max-height: none;
          opacity: 1;
        }
      }

      button,
      .button {
        margin: 0;
        font-size: $xsmall;
      }
    }
  }
}


// CARD CHECKLISTS
.card {
  form {
    fieldset.checklist {
      flex-direction: column;
      align-items: flex-start;

      legend {
        font-size: $xsmall;
        text-align: right;
        text-transform: uppercase;
      }

      input[type=checkbox]+label {
        width: 100%;
        margin: $spacing-8 0;
        padding: 0 $spacing-32 0 0;

        &:before {
          right: 0;
          left: auto;
        }

        &:after {
          right: 0.0625rem;
          left: auto;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    fieldset:last-of-type {
      // margin-bottom: 0;
    }
  }
}

// CARD LISTS
.card {

  ul,
  ol {
    li {
      padding: $spacing-8 0 0;
    }
  }
}


// ROWS AND COLUMNS IN CARDS
.card {
  .row {
    &+.row {
      padding: $spacing-8 0 0;
    }

    .column-11,
    .column-10,
    .column-9,
    .column-8,
    .column-7,
    .column-6,
    .column-5,
    .column-4,
    .column-3,
    .column-2,
    .column-1 {
      display: inline-block;
      width: calc((100% / 2) - $spacing-8);
    }
  }
}

@media (min-width: 40rem) {
  .card {
    .row {

      .column-11 {
        width: calc((100% / 12) * 11);
      }

      .column-10 {
        width: calc((100% / 12) * 10);
      }

      .column-9 {
        width: calc((100% / 12) * 9);
      }

      .column-8 {
        width: calc((100% / 12) * 8);
      }

      .column-7 {
        width: calc((100% / 12) * 7);
      }

      .column-6 {
        width: calc((100% / 12) * 6);
      }

      .column-5 {
        width: calc((100% / 12) * 5);
      }

      .column-4 {
        width: calc((100% / 12) * 4);
      }

      .column-3 {
        width: calc((100% / 12) * 3);
      }

      .column-2 {
        width: calc((100% / 12) * 2);
      }

      .column-1 {
        width: calc(100% / 12);
      }
    }
  }
}