// HEADER
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: $spacing-16;
}


// HEADROOM
.headroom {
  @include transition(all, 0.5s, ease);
  will-change: transform
}

.headroom--pinned {
  @include transform(translateY(0));
}

.headroom--unpinned {
  @include transform(translateY(-100vh));
}