// RESETS
input[type="password"],
input[type="checkbox"],
input[type="number"],
input[type="select"],
input[type="search"],
input[type="radio"],
input[type="email"],
input[type="date"],
input[type="file"],
input[type="text"],
input[type="tel"],
input[type="url"],
select {
  font-size: $p;
  color: black;
  @include appearance(none);
}


// FIELDSETS
fieldset {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  width: 100%;
  margin: 0;
  padding: $spacing-4 0;
  border: none;
}


// LABEL
label {
  display: none;
  padding: 0 0 $spacing-8;
  font-size: $small;
  font-weight: 700;
}


// INPUT, SELECT
input,
select {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 3rem;
  margin: 0;
  padding: $spacing-8;
  border: 1px solid $color-input;
  border-radius: 0.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;
}


// SELECT
.select-icon {
  display: grid;
  position: absolute;
  top: calc(50% - 1rem);
  right: 0.5rem;
  z-index: -1;
  width: 2rem;
  height: 2rem;
  padding: $spacing-8;
  color: $color-input;

  svg {
    width: 100%;
    height: 100%;
  }
}

select option {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include appearance(none);
}
