// NAVIGATION
nav {
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    font-size: $small;
    line-height: 1.5;
    list-style-type: none;
    text-transform: uppercase;

    li {
      padding: 0 $spacing-16 0 0;
      font-weight: 500;

      &:last-of-type {
        padding: 0;
      }
    }
  }
}

@media (min-width: 35rem) {
  nav {
    ul {
      line-height: 1;
    }
  }
}