// TABLES
table {
  width: 100%;
  margin: $spacing-8 0 0;
  padding: 0;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: left;

  thead {
    display: none;
    font-size: $small;
  }

  tr,
  th,
  td {
    display: block;
  }

  tr {
    padding: 0 0 $p;

    &:last-of-type {
      padding: 0;
    }
  }

  th,
  td {
    display: flex;
    align-items: center;
  }

  td {
    justify-content: space-between;
    padding: 0 0 $spacing-4;
  }

  td:before {
    display: inline-block;
    overflow: hidden;
    padding: 0 $spacing-8 0 0;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    content: attr(data-label);
  }
}

@media (min-width: 40rem) {
  table {
    thead {
      display: table-header-group;

      th {
        padding: 0 0 $spacing-4;
      }
    }

    tr {
      display: table-row;
      padding: 0;
      line-height: 1.5;
    }

    th,
    td {
      display: table-cell;
    }

    td:before {
      display: none;
    }
  }
}


// TABLE CAPTION
table caption {
  padding: 0 0 $spacing-8;
  font-size: $h3;
  font-weight: 700;
  text-align: left;
}