// TOAST HOLDER
.toasts {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 1rem;
  width: calc(100% - 4rem);
  margin: 0;
}


// TOASTS
.toast {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: auto;
  max-width: 100%;
  min-width: 15rem;
  margin: 0;
  padding: $spacing-8;
  border-radius: $border-radius-sm;
  color: $color--text-light;
  background-color: $color--bg-dark;
  @include transform(translateY(100rem));
  @include transition(transform, 0.75s, ease);

  p {
    padding: 0;
    font-size: $small;
  }

  button.tertiary {
    overflow: visible;
    margin: 0 $spacing-8;
  }

  button.close-toast {
    margin: 0 0 0 $spacing-8;
    color: $color--text-light;

    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.25);
    }
  }

  &.show {
    @include transform(translateY(-4rem));
  }
}

.toast.negative,
.toast.positive {
  button.tertiary {
    color: $color--text-light;
  }
}

.toast.negative {
  background-color: $color--status-invalid;
}

.toast.positive {
  background-color: $color--status-valid;
}


// ACTION TOASTS
.toast.action {
  button.tertiary:after {
    display: block;
    position: absolute;
    top: 0;
    right: calc(-1 * $spacing-8);
    width: 1px;
    height: 100%;
    background-color: $color--border;
    content: "";
  }
}


// ICON TOASTS
.toast.icon {
  span.icon {
    display: grid;
    width: $spacing-20;
    height: $spacing-20;
    margin: 0 $spacing-4 0 0;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}


// TOAST DARK MODE
html.dark {
  .toast {
    color: $color--text-dark;
    background-color: $color--bg-light-content;

    button.close-toast {
      color: inherit;

      &:hover,
      &:focus {
        background-color: rgba(43, 43, 43, 0.25);
      }
    }
  }

  .toast.negative {
    color: $color--text-light;
    background-color: $color--status-invalid;
  }

  .toast.positive {
    color: $color--text-light;
    background-color: $color--status-valid;
  }

}