// APPLICATION LAYOUT: POSITION AND DIMENSIONS
body {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

nav {
  width: 100%;
  height: 4rem;
  padding: $spacing-8;
}

main {
  position: relative;
  min-height: calc(100dvh - 4rem);
  padding: $spacing-8;
}

header,
article {
  width: 100%;
  padding: $spacing-8;
  border-radius: 0.5rem;
}

header {
  display: flex;
  align-items: center;
  height: 4rem;
}

@media (min-width: 48rem) {
  body {
    flex-direction: row;
  }

  nav {
    width: auto;
    min-width: 4rem;
    height: 100%;
  }

  main {
    flex-grow: 2;
    min-height: 100dvh;
  }

}


// ARTICLE
article {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 200%;
  height: calc(100% - 5rem);
  margin: $spacing-16 0;
  overflow-x: hidden;

  aside,
  section {
    width: calc(50% - 0.5rem);
    min-height: calc(100% - 2rem);
    padding: 0;
    @include transition(transform, 0.5s);
    @include transform(translateX(0));
  }

  aside {
    margin-right: $spacing-8;
  }

}

@media (min-width: 48rem) {
  article {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 4.5rem);
    margin: $spacing-8 0 0;

    h2 {
      line-height: 2rem;
    }

    aside,
    section {
      width: auto;

      button {
        display: none;
      }
    }

    aside {
      flex-grow: 1;
      margin-right: $spacing-16;
    }

    section {
      flex-grow: 3;
    }

  }
}

@import "inbox";