// MIXINS
@mixin transition($property: all, $timing: 0.25s, $easing: ease, $delay: 0s) {
  -webkit-transition: $property $timing $easing $delay;
  -moz-transition: $property $timing $easing $delay;
  -ms-transition: $property $timing $easing $delay;
  -o-transition: $property $timing $easing $delay;
  transition: $property $timing $easing $delay;
}

@mixin appearance($appearance: none) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  appearance: $appearance;
}

@mixin transform($transform: all) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}