// NAVIGATION
nav {
  z-index: 100;
  background-color: white;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: $xsmall;
    font-weight: 700;
    list-style-type: none;

    li {
      display: flex;
      flex-direction: column;
      padding: 0 $spacing-8;
      @include transition(color);

      a {
        display: flex;
        flex-direction: column;
      }
    }

    li,
    li a {

      &:hover,
      &:focus {
      }
    }
  }
}

@media (min-width: 48rem) {
  nav {
    ul {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      li {
        padding: $spacing-8 0;
      }
    }
  }
}


// NAVIGATION SELECTS
nav ul li fieldset {
  padding-bottom: $spacing-4;

  select {
    width: 2rem;
    border-radius: 100%;
    color: transparent;
  }
}


// NAVIGATION PROFILE & HELP
nav ul li.profile a {
  span {
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-bottom: $spacing-4;
    overflow: hidden;
    border: 1px solid;
    border-radius: 100%;
    color: white;
    font-size: $small;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;

    img {
      position: absolute;
    }
  }
}

nav ul li.help a {
  span {
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-bottom: $spacing-4;
    padding: $spacing-4;
    overflow: hidden;
    border: 1px solid;
    border-radius: 100%;
    color: white;
    font-size: $small;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;

    svg {
      width: 100%;
      height: 100%;
      fill: white;
    }
  }
}

nav ul li.profile a,
nav ul li.help a {
  align-items: center;
  text-align: center;
}

@media (min-width: 48rem) {

  nav ul li.profile a,
  nav ul li.help a {
    align-items: flex-start;
    text-align: left;
  }
}