<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,minimum-scale=1">
  <title>AMEN Categorization Skunk Works | TigerConnect</title>
  <base href="../../">
  <!-- css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style/amen.min.css">
  <style>
    body {
      opacity: 0;
      -webkit-transition: opacity 0.5s ease-in;
      -moz-transition: opacity 0.5s ease-in;
      -ms-transition: opacity 0.5s ease-in;
      -o-transition: opacity 0.5s ease-in;
      transition: opacity 0.5s ease-in;
    }

    body.visible {
      opacity: 1;
    }
  </style>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="views/dashboard/index.html">Dashboard</a></li>
        <li>Mapping</li>
      </ul>
    </nav>
  </header>
  <main>
    <article>
      <h1>Yale Medical Center Mapping</h1>
      <section>
        <h2>INT-1 Active Entities</h2>
        <div class="button-group">
          <!-- <button class="primary">Add Entities</button> -->
          <a href="views/mapping/entities/index.html" class="button primary">Add Entities</a>
        </div>
        <div class="row cards">
          <div id="yale-medical-center-patient-entity" class="card entity column-12">
            <h4>Patient<span class="utility"><a href="views/mapping/patient/index.html" class="button tertiary">Edit Fields</a></span></h4>
            <ul class="mapping">
              <li class="show">
                <span class="field">Field</span>
                <span class="element">Element</span>
                <span class="preview">Preview</span>
              </li>
              <li id="yale-medical-center-patient-patient-id-field"><span class="field">Patient ID</span><span class="element"><code>PID.2</code></span><span class="preview">E00000329</span></li>
              <li id="yale-medical-center-patient-mrn-field"><span class="field">MRN</span><span class="element"><code>PID.3</code></span><span class="preview">M000000350</span></li>
              <li id="yale-medical-center-patient-encounter-visit-number-field"><span class="field">Encounter Visit number</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-patient-first-name-field"><span class="field">First Name</span><span class="element"><code>PID.5.3</code></span><span class="preview">TOM</span></li>
              <li id="yale-medical-center-patient-last-name-field"><span class="field">Last Name</span><span class="element"><code>PID.5.2</code></span><span class="preview">BLUEBERRY</span></li>
              <li id="yale-medical-center-patient-organization-field"><span class="field">Organization</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-patient-date-of-birth-field"><span class="field">Date of Birth</span><span class="element"><code>PID.7</code></span><span class="preview">19711221</span></li>
              <li id="yale-medical-center-patient-gender-field"><span class="field">Gender</span><span class="element"><code>PID.8</code></span><span class="preview">M</span></li>
              <li id="yale-medical-center-patient-phone-number-field"><span class="field">Phone Number</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-patient-email-field"><span class="field">Email</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-patient-status-field"><span class="field">Status</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-patient-chief-complaint-field"><span class="field">Chief Complaint</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-patient-diagnosis-field"><span class="field">Diagnosis</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-patient-allergies-field"><span class="field">Allergies</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-patient-patient-class-field"><span class="field">Patient Class</span><span class="element"><code>PV[1].4</code></span><span class="preview">EL</span></li>
              <li id="yale-medical-center-patient-attending-physician-field"><span class="field">Attending Physician</span><span class="element"><code>PV[1].7</code></span><span class="preview">Fingergut Judy</span></li>
              <li id="yale-medical-center-patient-primary-care-physician-field"><span class="field">Primary Care Physician</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-patient-referring-physician-field"><span class="field">Referring Physician</span><span class="element"><code></code></span><span class="preview"></span></li>
            </ul>
          </div>
          <div id="yale-medical-center-provider-entity" class="card entity column-12">
            <h4>Provider<span class="utility"><a href="views/mapping/provider/index.html" class="button tertiary">Edit Fields</a></span></h4>
            <ul class="mapping">
              <li class="show">
                <span class="field">Field</span>
                <span class="element">Element</span>
                <span class="preview">Preview</span>
              </li>
              <li id="yale-medical-center-provider-provider-id-field"><span class="field">Provider ID</span><span class="element"><code>PV[1].1</code></span><span class="preview">1519</span></li>
              <li id="yale-medical-center-provider-first-name-field"><span class="field">First Name</span><span class="element"><code>PV[1].7.3</code></span><span class="preview">Judy</span></li>
              <li id="yale-medical-center-provider-middle-initial-field"><span class="field">Middle Initial</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-provider-last-name-field"><span class="field">Last Name</span><span class="element"><code>PV[1].7.2</code></span><span class="preview">Fingergut</span></li>
              <li id="yale-medical-center-provider-credentials-field"><span class="field">Credentials</span><span class="element"><code>PV[1].7.4</code></span><span class="preview">MD</span></li>
              <li id="yale-medical-center-provider-specialty-field"><span class="field">Specialty</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-provider-provider-group-field"><span class="field">Provider Group</span><span class="element"><code></code></span><span class="preview"></span></li>
            </ul>
          </div>
          <div id="yale-medical-center-caregiver-entity" class="card entity column-12">
            <h4>Caregiver<span class="utility"><a href="views/mapping/caregiver/index.html" class="button tertiary">Edit Fields</a></span></h4>
            <ul class="mapping">
              <li class="show">
                <span class="field">Field</span>
                <span class="element">Element</span>
                <span class="preview">Preview</span>
              </li>
            </ul>
          </div>
          <div id="yale-medical-center-location-entity" class="card entity column-12">
            <h4>Location<span class="utility"><a href="views/mapping/location/index.html" class="button tertiary">Edit Fields</a></span></h4>
            <ul class="mapping">
              <li class="show">
                <span class="field">Field</span>
                <span class="element">Element</span>
                <span class="preview">Preview</span>
              </li>
              <li id="yale-medical-center-location-location-id-field"><span class="field">Location ID</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-location-type-field"><span class="field">Type</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-location-logical-grouping-field"><span class="field">Logical grouping</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-location-parent-location-field"><span class="field">Parent Location</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-location-location-unit-field"><span class="field">Location Unit</span><span class="element"><code>PV[1].3.1</code></span><span class="preview">ICU</span></li>
              <li id="yale-medical-center-location-location-room-field"><span class="field">Location Room</span><span class="element"><code>PV[1].3.2</code></span><span class="preview">101</span></li>
              <li id="yale-medical-center-location-location-bed-field"><span class="field">Location Bed</span><span class="element"><code>PV[1].3.3</code></span><span class="preview">A</span></li>
              <li id="yale-medical-center-location-description-field"><span class="field">Description</span><span class="element"><code>PV[1].3.1.2.3</code></span><span class="preview">ICU 101 A</span></li>
            </ul>
          </div>
          <div id="yale-medical-center-caregiver-assignment-entity" class="card entity column-12">
            <h4>Caregiver Assignment<span class="utility"><a href="views/mapping/caregiver-assignment/index.html" class="button tertiary">Edit Fields</a></span></h4>
            <ul class="mapping">
              <li class="show">
                <span class="field">Field</span>
                <span class="element">Element</span>
                <span class="preview">Preview</span>
              </li>
              <li id="yale-medical-center-caregiver-assignment-assignment-id-field"><span class="field">Assignment ID</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-caregiver-assignment-timestamp-field"><span class="field">Timestamp</span><span class="element"><code>MSH.7</code></span><span class="preview">20201001091354-0400</span></li>
              <li id="yale-medical-center-caregiver-assignment-patient-id-field"><span class="field">Patient ID</span><span class="element"><code>PID.2</code></span><span class="preview">E00000329</span></li>
              <li id="yale-medical-center-caregiver-assignment-location-id-field"><span class="field">Location ID</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-caregiver-assignment-caregiver-id-field"><span class="field">Caregiver ID</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-caregiver-assignment-assignment-level-field"><span class="field">Assignment Level</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-caregiver-assignment-assigned-role-field"><span class="field">Assigned Role</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-caregiver-assignment-start-date-field"><span class="field">Start Date</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-caregiver-assignment-end-date-field"><span class="field">End Date</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-caregiver-assignment-status-field"><span class="field">Status</span><span class="element"><code></code></span><span class="preview"></span></li>
            </ul>
          </div>
          <div id="yale-medical-center-patient-update-entity" class="card entity column-12">
            <h4>Patient Update<span class="utility"><a href="views/mapping/patient-update/index.html" class="button tertiary">Edit Fields</a></span></h4>
            <ul class="mapping">
              <li class="show">
                <span class="field">Field</span>
                <span class="element">Element</span>
                <span class="preview">Preview</span>
              </li>
            </ul>
          </div>
          <div id="yale-medical-center-order-request-entity" class="card entity column-12">
            <h4>Order Request<span class="utility"><a href="views/mapping/order-request/index.html" class="button tertiary">Edit Fields</a></span></h4>
            <ul class="mapping">
              <li class="show">
                <span class="field">Field</span>
                <span class="element">Element</span>
                <span class="preview">Preview</span>
              </li>
            </ul>
          </div>
          <div id="yale-medical-center-lab-result-entity" class="card entity column-12">
            <h4>Lab Result<span class="utility"><a href="views/mapping/lab-result/index.html" class="button tertiary">Edit Fields</a></span></h4>
            <ul class="mapping">
              <li class="show">
                <span class="field">Field</span>
                <span class="element">Element</span>
                <span class="preview">Preview</span>
              </li>
              <li id="yale-medical-center-lab-result-result-id-field"><span class="field">Result ID</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-lab-result-observation-timestamp-field"><span class="field">Observation Timestamp</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-lab-result-observation-id-field"><span class="field">Observation ID</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-lab-result-observation-sub-id-field"><span class="field">Observation Sub ID</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-lab-result-observation-request-id-field"><span class="field">Observation Request ID</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-lab-result-specimen-id-field"><span class="field">Specimen ID</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-lab-result-observation-result-status-field"><span class="field">Observation Result Status</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-lab-result-observation-value-field"><span class="field">Observation Value</span><span class="element"><code>OBX[1].5</code></span><span class="preview">12.0</span></li>
              <li id="yale-medical-center-lab-result-references-range-field"><span class="field">References Range</span><span class="element"><code>OBX[1].7</code></span><span class="preview">9.6-11.2</span></li>
              <li id="yale-medical-center-lab-result-units-field"><span class="field">Units</span><span class="element"><code>OBX[1].6</code></span><span class="preview">SECONDS</span></li>
              <li id="yale-medical-center-lab-result-value-type-field"><span class="field">Value Type</span><span class="element"><code>OBX[1].3.2</code></span><span class="preview">HEPARIN</span></li>
              <li id="yale-medical-center-lab-result-priority-field"><span class="field">Priority</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-lab-result-resulted-test-field"><span class="field">Resulted Test</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-lab-result-result-field"><span class="field">Result</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-lab-result-ordering-provider-id-field"><span class="field">Ordering Provider ID</span><span class="element"><code></code></span><span class="preview"></span></li>
              <li id="yale-medical-center-lab-result-patient-id-field"><span class="field">Patient ID</span><span class="element"><code>PID.2</code></span><span class="preview">E00000329</span></li>
              <li id="yale-medical-center-lab-result-location-id-field"><span class="field">Location ID</span><span class="element"><code></code></span><span class="preview"></span></li>
            </ul>
          </div>
          <div id="yale-medical-center-nurse-call-entity" class="card entity column-12">
            <h4>Nurse Call<span class="utility"><a href="views/mapping/nurse-call/index.html" class="button tertiary">Edit Fields</a></span></h4>
            <ul class="mapping">
              <li class="show">
                <span class="field">Field</span>
                <span class="element">Element</span>
                <span class="preview">Preview</span>
              </li>
            </ul>
          </div>
          <div id="yale-medical-center-patient-monitor-entity" class="card entity column-12">
            <h4>Patient Monitor<span class="utility"><a href="views/mapping/patient-monitor/index.html" class="button tertiary">Edit Fields</a></span></h4>
            <ul class="mapping">
              <li class="show">
                <span class="field">Field</span>
                <span class="element">Element</span>
                <span class="preview">Preview</span>
              </li>
            </ul>
          </div>
          <div id="yale-medical-center-response-entity" class="card entity column-12">
            <h4>Response<span class="utility"><a href="views/mapping/response/index.html" class="button tertiary">Edit Fields</a></span></h4>
            <ul class="mapping">
              <li class="show">
                <span class="field">Field</span>
                <span class="element">Element</span>
                <span class="preview">Preview</span>
              </li>
            </ul>
          </div>
          <div id="yale-medical-center-availability-entity" class="card entity column-12">
            <h4>Availability<span class="utility"><a href="views/mapping/availability/index.html" class="button tertiary">Edit Fields</a></span></h4>
            <ul class="mapping">
              <li class="show">
                <span class="field">Field</span>
                <span class="element">Element</span>
                <span class="preview">Preview</span>
              </li>
            </ul>
          </div>
          <div id="yale-medical-center-delivery-entity" class="card entity column-12">
            <h4>Delivery<span class="utility"><a href="views/mapping/delivery/index.html" class="button tertiary">Edit Fields</a></span></h4>
            <ul class="mapping">
              <li class="show">
                <span class="field">Field</span>
                <span class="element">Element</span>
                <span class="preview">Preview</span>
              </li>
            </ul>
          </div>
          <div id="yale-medical-center-presence-entity" class="card entity column-12">
            <h4>Presence<span class="utility"><a href="views/mapping/presence/index.html" class="button tertiary">Edit Fields</a></span></h4>
            <ul class="mapping">
              <li class="show">
                <span class="field">Field</span>
                <span class="element">Element</span>
                <span class="preview">Preview</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="column-12">
            <h2>Raw Data</h2>
            <pre>
MSH|^~\&|LAB|NMC|||20201001091354-0400||ORU^R01|22064.1|D|2.3|
PID|1|E00000329|M000000350||BLUEAPPLE^TOM||19711221|F||W|123 MAIN STREET^^SAINT ALBANS^VT^05478|||||S||V00000019513|
PV1|1519|O|ICU^101^A|EL|||ZFINGJU^Fingergut^Judy^^^^MD|||||||PHY||||CLI|||||||||||||||||||||NMC||REG|||202010010910|
OBR|1|1789^LAB|1789^LAB|PT^HEPARIN/INR^L|||202010010912|||||||202010010912||ZFINGJU^Zfingergut^Judy^^^^MD||||||||LAB|F||^^^^^R|BARNMI^Barnum^Michael^J.^^^MD|
OBX|1|ST|PRO^HEPARIN^L|1|12.0|SECONDS|9.6-11.2|H||A^S|F|||202010010913|ML^MAIN LAB^L|
NTE|1||Is patient on anticoagulant? N|
OBX|2|ST|INR^INR^L|1|1.2||2.0-3.0|L||A^S|F|||202010010913|ML^MAIN LAB^L|
NTE|2||INR value valid only on patients on stabilized warfarin|
NTE|3||therapy.  The recommended therapeutic range for warfarin|
NTE|4||(Coumadin) for most clinical indications is an INR of|
NTE|5||2.0-3.0.  An INR of 2.5-3.5 is recommended for patients with|
NTE|6||mechanical heart valves.|
          </pre>
          </div>
        </div>
      </section>
    </article>
  </main>
  <footer>
    <form class="color-mode">
      <fieldset class="toggle">
        <label for="switch-theme">
          <span class="light-mode">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-sun">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
              <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" />
            </svg>
          </span>
          <input type="checkbox" id="switch-theme" class="toggle" name="switch-theme" title="switch-theme">
          <span class="dark-mode">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-moon">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" />
            </svg>
          </span>
        </label>
      </fieldset>
    </form>
  </footer>
  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="assets/scripts/site.js"></script>
  <script src="../../assets/scripts/headroom.js"></script>
  <script>
    // CHANGE CSS WHEN PAGE LOADS
    $(document).ready(function () {
      $("body").addClass("visible");
      $("body").removeClass("hidden");
    });
    // HEADROOM
    var myElement = document.querySelector("header");
    var headroom = new Headroom(myElement);
    headroom.init();
  </script>
</body>

</html>