:root {
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --p: 1rem;
  --small: 0.75rem;
  --xsmall: 0.625rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --color-primary: #18618e;
  --color--bg-dark: #282828;
  --color--bg-dark-content: #404040;
  --color--bg-light: #e6e6e6;
  --color--bg-light-content: white;
  --color--status-disabled: #888b8d;
  --color--status-invalid: #c63531;
  --color--status-valid: #007a4d;
  --color--text-light: white;
  --color--text-dark: black;
}

html {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: black;
  background-color: var(--color--bg-light);
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  -webkit-transition: background-color 0.25s ease 0s;
  -moz-transition: background-color 0.25s ease 0s;
  -ms-transition: background-color 0.25s ease 0s;
  -o-transition: background-color 0.25s ease 0s;
  transition: background-color 0.25s ease 0s;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media (min-width: 48rem) {
  body {
    flex-direction: row;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: var(--color-primary);
  -webkit-transition: color 0.25s ease 0s;
  -moz-transition: color 0.25s ease 0s;
  -ms-transition: color 0.25s ease 0s;
  -o-transition: color 0.25s ease 0s;
  transition: color 0.25s ease 0s;
}
h1,
h2,
h3,
h4,
p,
small {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.25;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

p {
  padding: var(--p) 0;
  font-size: var(--p);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

small {
  padding: var(--small) 0;
  font-size: var(--small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
}

.xsmall {
  padding: var(--xsmall) 0;
  font-size: var(--xsmall);
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
}

strong,
em,
b {
  display: inline;
  font-style: normal;
  font-weight: 700;
  color: inherit;
}

ul,
ol,
dl {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: var(--p);
  line-height: 1.25;
}
ul li,
ul dd,
ol li,
ol dd,
dl li,
dl dd {
  padding: var(--p) 0;
}

ul {
  padding-left: var(--spacing-24);
}

ul.no-bullets {
  padding-left: 0;
  list-style-type: none;
}

h1.center,
h2.center,
h3.center,
h4.center,
p.center,
small.center {
  text-align: center;
}

h1.right,
h2.right,
h3.right,
h4.right,
p.right,
small.right {
  text-align: right;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
p:first-child,
small:first-child,
.xsmall:first-child,
ul:first-child,
ol:first-child,
dl:first-child {
  padding: 0;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p {
  padding-top: 0;
}

button,
.button {
  display: inline-flex;
  align-items: center;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  margin: var(--spacing-8) 0 0;
  padding: var(--spacing-8) var(--spacing-16);
  border: 1px solid var(--color-primary);
  border-radius: 2rem;
  font-size: var(--small);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color--text-light);
  background-color: var(--color-primary);
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
button:hover, button:focus,
.button:hover,
.button:focus {
  color: var(--color-primary);
  background-color: var(--color--text-light);
}

body {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

nav {
  width: 100%;
  height: 4rem;
  padding: var(--spacing-8);
}

main {
  position: relative;
  min-height: calc(100dvh - 4rem);
  padding: var(--spacing-8);
}

header,
article {
  width: 100%;
  padding: var(--spacing-8);
  border-radius: 0.5rem;
}

header {
  display: flex;
  align-items: center;
  height: 4rem;
}

@media (min-width: 48rem) {
  body {
    flex-direction: row;
  }
  nav {
    width: auto;
    min-width: 4rem;
    height: 100%;
  }
  main {
    flex-grow: 2;
    min-height: 100dvh;
  }
}
article {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 200%;
  height: calc(100% - 5rem);
  margin: var(--spacing-16) 0;
  overflow-x: hidden;
}
article aside,
article section {
  width: calc(50% - 0.5rem);
  min-height: calc(100% - 2rem);
  padding: 0;
  -webkit-transition: transform 0.5s ease 0s;
  -moz-transition: transform 0.5s ease 0s;
  -ms-transition: transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
article aside {
  margin-right: var(--spacing-8);
}

@media (min-width: 48rem) {
  article {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 4.5rem);
    margin: var(--spacing-8) 0 0;
  }
  article h2 {
    line-height: 2rem;
  }
  article aside,
  article section {
    width: auto;
  }
  article aside button,
  article section button {
    display: none;
  }
  article aside {
    flex-grow: 1;
    margin-right: var(--spacing-16);
  }
  article section {
    flex-grow: 3;
  }
}
article.show-detail aside,
article.show-detail section {
  -webkit-transform: translateX(-96vw);
  -moz-transform: translateX(-96vw);
  -ms-transform: translateX(-96vw);
  -o-transform: translateX(-96vw);
  transform: translateX(-96vw);
}

@media (min-width: 48rem) {
  article.show-detail aside,
  article.show-detail section {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
aside.inbox form fieldset + fieldset {
  margin-top: var(--spacing-8);
}

nav {
  z-index: 100;
  background-color: white;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: var(--xsmall);
  font-weight: 700;
  list-style-type: none;
}
nav ul li {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-8);
  -webkit-transition: color 0.25s ease 0s;
  -moz-transition: color 0.25s ease 0s;
  -ms-transition: color 0.25s ease 0s;
  -o-transition: color 0.25s ease 0s;
  transition: color 0.25s ease 0s;
}
nav ul li a {
  display: flex;
  flex-direction: column;
}
@media (min-width: 48rem) {
  nav ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  nav ul li {
    padding: var(--spacing-8) 0;
  }
}
nav ul li fieldset {
  padding-bottom: var(--spacing-4);
}
nav ul li fieldset select {
  width: 2rem;
  border-radius: 100%;
  color: transparent;
}

nav ul li.profile a span {
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-bottom: var(--spacing-4);
  overflow: hidden;
  border: 1px solid;
  border-radius: 100%;
  color: white;
  font-size: var(--small);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
nav ul li.profile a span img {
  position: absolute;
}

nav ul li.help a span {
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-bottom: var(--spacing-4);
  padding: var(--spacing-4);
  overflow: hidden;
  border: 1px solid;
  border-radius: 100%;
  color: white;
  font-size: var(--small);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
nav ul li.help a span svg {
  width: 100%;
  height: 100%;
  fill: white;
}

nav ul li.profile a,
nav ul li.help a {
  align-items: center;
  text-align: center;
}

@media (min-width: 48rem) {
  nav ul li.profile a,
  nav ul li.help a {
    align-items: flex-start;
    text-align: left;
  }
}
input[type=password],
input[type=checkbox],
input[type=number],
input[type=select],
input[type=search],
input[type=radio],
input[type=email],
input[type=date],
input[type=file],
input[type=text],
input[type=tel],
input[type=url],
select {
  font-size: var(--p);
  color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

fieldset {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

label {
  padding: 0 0 var(--spacing-4);
  font-size: var(--small);
  font-weight: 700;
  line-height: 1;
}

label.checkbox {
  padding: 0;
}

input,
select {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 2rem;
  max-height: 2rem;
  min-height: 2rem;
  margin: 0;
  padding: var(--spacing-8);
  border: 1px solid;
  border-radius: 0.25rem;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;
}

.select-icon {
  display: grid;
  position: absolute;
  top: calc(50% - 1rem);
  right: 0.5rem;
  z-index: -1;
  width: 2rem;
  height: 2rem;
  padding: var(--spacing-8);
}
.select-icon svg {
  width: 100%;
  height: 100%;
}

select option {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0;
}
label.checkbox span {
  display: grid;
  display: none;
  width: 1rem;
  height: 1rem;
}
label.checkbox span svg {
  width: 100%;
  height: 100%;
}
label.checkbox input[type=checkbox] {
  position: relative;
  top: 0;
  right: 0;
  width: 2rem;
  min-width: 2rem;
  height: 1rem;
  max-height: 1rem;
  min-height: 1rem;
  margin: 0 var(--spacing-8);
  padding: 0;
  border: 1px solid;
  border-radius: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
label.checkbox input[type=checkbox]:after {
  display: block;
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 100%;
  content: "";
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
label.checkbox input[type=checkbox]:checked:after {
  margin-left: var(--spacing-16);
}

html.dark {
  color: white;
  background-color: var(--color--bg-dark);
}
html.dark body nav {
  background-color: var(--color--bg-dark);
}
html.dark button {
  color: var(--color-primary);
}
html.dark button:hover, html.dark button:focus {
  background-color: transparent;
}