:root {
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --p: 1rem;
  --small: 0.75rem;
  --xsmall: 0.625rem;
  --spacing--4: 0.25rem;
  --spacing--8: 0.5rem;
  --spacing--12: 0.75rem;
  --spacing--16: 1rem;
  --spacing--20: 1.25rem;
  --spacing--24: 1.5rem;
  --spacing--32: 2rem;
  --color--primary: #af241e;
  --color--secondary: #2d6199;
  --color--background-light: #f8f8f8;
  --color--nav: #7c7c7c;
  --color--nav-hover: #181818;
  --color--input: #cdcdcd;
}

html {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media (min-width: 40rem) {
  body {
    flex-direction: row;
  }
}
* {
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: var(--color--primary);
  transition: color 0.25s ease 0s;
}
a:hover, a:focus {
  color: var(--color-secondary);
}

h1,
h2,
h3,
h4,
p,
small {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.25;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

p {
  padding: var(--p) 0;
  font-size: var(--p);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

small {
  padding: var(--small) 0;
  font-size: var(--small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
}

.xsmall {
  padding: var(--xsmall) 0;
  font-size: var(--xsmall);
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
}

strong,
em,
b {
  display: inline;
  font-style: normal;
  font-weight: 700;
  color: inherit;
}

ul,
ol,
dl {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: var(--p);
  line-height: 1.25;
}
ul li,
ul dd,
ol li,
ol dd,
dl li,
dl dd {
  padding: var(--p) 0;
}

ul {
  padding-left: var(--spacing--24);
}

ul.no-bullets {
  padding-left: 0;
  list-style-type: none;
}

h1.center,
h2.center,
h3.center,
h4.center,
p.center,
small.center {
  text-align: center;
}

h1.right,
h2.right,
h3.right,
h4.right,
p.right,
small.right {
  text-align: right;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
p:first-child,
small:first-child,
.xsmall:first-child,
ul:first-child,
ol:first-child,
dl:first-child {
  padding: 0;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p {
  padding-top: 0;
}

body nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 4rem;
  max-height: 4rem;
}
body main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 3rem);
  padding: var(--spacing--8);
}
body main .content {
  height: calc(100vh - 8rem);
  padding: var(--spacing--8);
}

@media (min-width: 40rem) {
  body nav {
    position: relative;
    top: 0;
    left: 0;
    width: 4rem;
    height: auto;
    max-height: none;
  }
  body main {
    width: calc(100% - 4rem);
    height: 100vh;
  }
  body main .content {
    height: calc(100vh - 4rem);
  }
}
.content {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

@media (min-width: 40rem) {
  .content {
    flex-direction: row;
  }
}
.content--list {
  width: 100%;
  min-width: 100%;
}
.content--list form fieldset:first-of-type {
  display: none;
}
.content--list ul.list {
  padding: var(--spacing--4) 0 0;
  list-style-type: none;
}
.content--list ul.list li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: var(--spacing--12) var(--spacing--8);
  border-bottom: 1px solid var(--color--input);
  background-color: transparent;
  transition: background-color 0.25s ease 0s;
}
.content--list ul.list li.selected {
  background-color: var(--color--background-light);
}
.content--list ul.list li .avatar {
  display: grid;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--color--input);
  border-radius: 100%;
}
.content--list ul.list li .details {
  width: calc(100% - 4.5rem);
  padding: 0 var(--spacing--8);
}
.content--list ul.list li .details p {
  overflow: hidden;
  padding: 0;
  line-height: 1.25;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content--list ul.list li .details p:first-of-type {
  font-weight: 700;
}
.content--list ul.list li .details ul.status {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing--4) 0 0;
  font-size: var(--small);
}
.content--list ul.list li .details ul.status li {
  padding: 0;
  border: none;
}
.content--list ul.list li .details ul.status li:last-of-type {
  border: none;
}
.content--list ul.list li .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  padding: 0 0 0 var(--spacing--4);
}
.content--list ul.list li .actions svg {
  width: 100%;
  max-width: 1.125rem;
  height: 100%;
  color: var(--color--nav);
  cursor: pointer;
  transition: color 0.25s ease 0s;
}
.content--list ul.list li .actions svg:hover, .content--list ul.list li .actions svg:focus {
  color: var(--color--nav-hover);
}
.content--list .controls {
  display: grid;
  position: fixed;
  bottom: 1rem;
}
.content--list .controls span.fab {
  display: grid;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  color: white;
  background: var(--color--nav);
  cursor: pointer;
  transition: background 0.25s ease 0s;
}
.content--list .controls span.fab:hover, .content--list .controls span.fab:focus {
  background-color: var(--color--nav-hover);
}

@media (min-width: 40rem) {
  .content--list {
    width: 35%;
    min-width: 35%;
    padding-right: var(--spacing--8);
  }
  .content--list form fieldset:first-of-type {
    display: inherit;
  }
}
.content--details {
  width: 100%;
  min-width: 100%;
  background-color: white;
  transition: all 0.25s ease 0s;
  transform: translateX(-92vw);
  transform: translateX(100vw);
}
.content--details.show {
  transform: translateX(-92vw);
}

@media (min-width: 40rem) {
  .content--details {
    width: 65%;
    min-width: 65%;
    padding-left: var(--spacing--8);
    transform: translateX(0);
  }
}
.content--details-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 0 0 var(--spacing--8);
  background-color: white;
}
.content--details-header .back {
  display: grid;
  position: absolute;
  overflow: hidden;
  width: 2rem;
  height: 2rem;
  margin: 0;
  border-radius: 100%;
  background-color: var(--color--nav);
  cursor: pointer;
  transition: background-color 0.25s ease 0s;
}
.content--details-header .back:hover, .content--details-header .back:focus {
  background-color: var(--color--nav-hover);
}
.content--details-header h4 {
  width: auto;
  padding: 0 0 0 2.5rem;
}
.content--details-header .controls {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.content--details-header .controls .avatar {
  display: grid;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  border: 1px solid;
  border-color: var(--color--nav);
  border-radius: 100%;
  cursor: pointer;
  transition: border-color 0.25s ease 0s;
}
.content--details-header .controls .avatar:hover, .content--details-header .controls .avatar:focus {
  border-color: var(--color--nav-hover);
}
.content--details-header .controls .call,
.content--details-header .controls .settings {
  display: grid;
  overflow: hidden;
  width: 2rem;
  height: 2rem;
  margin: 0 var(--spacing--4);
  border-radius: 100%;
  background-color: var(--color--nav);
  cursor: pointer;
  transition: background-color 0.25s ease 0s;
}
.content--details-header .controls .call:hover, .content--details-header .controls .call:focus,
.content--details-header .controls .settings:hover,
.content--details-header .controls .settings:focus {
  background-color: var(--color--nav-hover);
}

@media (min-width: 40rem) {
  .content--details-header {
    width: calc(100% - var(--spacing--8));
  }
  .content--details-header .back {
    display: none;
  }
  .content--details-header h4 {
    padding: 0;
  }
}
.content--details-main {
  padding-top: 3.5rem;
}

.content--details-footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  background-color: white;
}

nav {
  z-index: 100;
  padding: 0 var(--spacing--4);
  background-color: white;
}
nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  height: 100%;
  font-size: var(--xsmall);
  text-overflow: ellipsis;
  white-space: nowrap;
  list-style: none;
}
nav ul li {
  padding: 0 var(--spacing--8);
}
nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  color: var(--color--nav);
}
nav ul li a span.icon {
  display: grid;
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: var(--spacing--4);
  border-radius: 100%;
  background: var(--color--nav);
  transition: background 0.25s ease 0s;
}
nav ul li a:hover, nav ul li a:focus {
  color: var(--color--nav-hover);
}
nav ul li a:hover span.icon, nav ul li a:focus span.icon {
  background: var(--color--nav-hover);
}
nav ul li.views ul {
  border-right: 1px solid var(--color--input);
  border-left: 1px solid var(--color--input);
}

@media (min-width: 40rem) {
  nav ul {
    flex-direction: column;
    justify-content: flex-end;
  }
  nav ul li {
    padding: var(--spacing--8);
  }
  nav ul li a span.icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  nav ul li:first-of-type {
    position: absolute;
    top: 0;
  }
  nav ul li.views {
    display: none;
  }
  nav ul li.views ul {
    display: none;
  }
}
nav ul li {
  font-weight: 700;
  color: var(--color--nav);
}
nav ul li fieldset {
  padding: 0;
}
nav ul li fieldset select {
  min-height: 1.5rem;
  margin-bottom: var(--spacing--4);
  padding: var(--spacing--4);
  font-size: var(--small);
}

@media (min-width: 40rem) {
  nav ul li fieldset {
    padding-top: var(--spacing--8);
  }
  nav ul li fieldset select {
    min-height: 2rem;
  }
}
details {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 3rem;
  min-height: 3rem;
  margin: var(--spacing--4) 0;
  padding: 0.5rem;
  border: 1px solid var(--color--input);
  border-radius: 0.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;
  font-size: var(--p);
  color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: max-height 0.25s ease 0s;
}
details summary {
  padding: var(--spacing--8) 0;
}
details ul {
  padding: 0;
  list-style: none;
}
details ul li {
  padding: var(--spacing--4) 0;
}

details[open] {
  max-height: 100vh;
}

input[type=password],
input[type=checkbox],
input[type=number],
input[type=select],
input[type=search],
input[type=radio],
input[type=email],
input[type=date],
input[type=file],
input[type=text],
input[type=tel],
input[type=url],
select {
  font-size: var(--p);
  color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

fieldset {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  width: 100%;
  margin: 0;
  padding: var(--spacing--4) 0;
  border: none;
}

label {
  display: none;
  padding: 0 0 var(--spacing--8);
  font-size: var(--small);
  font-weight: 700;
}

input,
select {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 2rem;
  margin: 0;
  padding: var(--spacing--8);
  border: 1px solid var(--color--input);
  border-radius: 0.25rem;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;
}

.select-icon {
  display: grid;
  position: absolute;
  top: calc(50% - 1rem);
  right: 0.5rem;
  z-index: -1;
  width: 2rem;
  height: 2rem;
  padding: var(--spacing--8);
  color: var(--color--input);
}
.select-icon svg {
  width: 100%;
  height: 100%;
}

select option {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

header {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: var(--spacing--8);
}