<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,minimum-scale=1">
  <title>AMEN ADT Categorization Skunk Works | TigerConnect</title>
  <base href="../../../../">
  <!-- css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style/master.min.css">
  <style>
    body {
      opacity: 0;
      -webkit-transition: opacity 1s ease-in;
      -moz-transition: opacity 1s ease-in;
      -ms-transition: opacity 1s ease-in;
      -o-transition: opacity 1s ease-in;
      transition: opacity 1s ease-in;
    }

    body.visible {
      opacity: 1;
    }
  </style>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="projects/amen/views/dashboard/index.html">Dashboard</a></li>
        <!-- <li><a href="projects/amen/views/integration/index.html">Integration</a></li> -->
        <!-- <li><a href="projects/amen/views/configuration/index.html">Configuration</a></li> -->
        <li><a href="projects/amen/views/categorization/index.html">Categorization</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <article>
      <h1>Categorization</h1>
      <section>
        <h2>ADT Patient Data Categorization</h2>
        <form id="adt-general-settings">
          <!-- <fieldset class="small">
            <label for="adt-client-id">Client ID</label>
            <input type="number" id="adt-client-id" name="adt-client-id" value="0">
          </fieldset> -->
          <fieldset>
            <label for="adt-description">Description</label>
            <input type="text" id="adt-description" name="adt-description" value="ADT Integration for Yale">
          </fieldset>
          <!-- <fieldset>
            <label for="adt-interface">Interface</label>
            <select id="adt-interface" name="adt-interface">
              <option label="TCP SERVER">TCP SERVER</option>
              <option label="Second option sample">Section option sample</option>
              <option label="Third option sample">Third option sample</option>
              <option label="Fourth option sample">Fourth option sample</option>
            </select>
            <span class="select-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 9l6 6l6 -6"></path>
              </svg>
            </span>
          </fieldset> -->
        </form>
        <div class="row cards">
          <!-- <div class="card column-6">
            <h3>Server Connection Setup</h3>
            <p>Enable TCP/IP Communication with Server</p>
            <form>
              <div class="row">
                <fieldset>
                  <label for="adt-server-ip-address">Server IP Address</label>
                  <input type="text" id="adt-server-ip-address" name="adt-server-ip-address" value="127.0.0.1">
                </fieldset>
                <fieldset class="small">
                  <label for="adt-server-port">Server Port</label>
                  <input type="text" id="adt-server-port" name="adt-server-port" value="7000">
                </fieldset>
                <fieldset class="checkbox">
                  <input type="checkbox" id="adt-server-auto-reconnect" name="adt-server-auto-reconnect"
                    value="Auto Reconnect" checked>
                  <label for="adt-server-auto-reconnect">Auto Reconnect</label>
                </fieldset>
              </div>
              <div class="row">
                <fieldset>
                  <label for="adt-local-ip-address">Local IP Address</label>
                  <input type="text" id="adt-local-ip-address" name="adt-local-ip-address" value="xmdevxp" disabled>
                </fieldset>
                <fieldset class="small">
                  <label for="adt-local-port">Local Port</label>
                  <input type="text" id="adt-local-port" name="adt-local-port" value="0" disabled>
                </fieldset>
                <fieldset class="checkbox">
                  <input type="checkbox" id="adt-local-auto-assign" name="adt-local-auto-assign" value="Auto Assign"
                    checked>
                  <label for="adt-local-auto-assign">Auto Assign</label>
                </fieldset>
              </div>
              <div class="row">
                <fieldset class="checkbox">
                  <input type="checkbox" id="adt-xmit-watchdog" name="adt-xmit-watchdog" value="Xmit Watchdog" checked>
                  <label for="adt-xmit-watchdog">Xmit Watchdog</label>
                </fieldset>
                <fieldset class="checkbox" style="align-self: flex-start;">
                  <input type="checkbox" id="adt-beep-offline" name="adt-beep-offline" value="Beep While Offline"
                    checked>
                  <label for="adt-beep-offline">Beep While Offline</label>
                </fieldset>
              </div>
            </form>
          </div> -->
          <div class="card column-6">
            <h3>HL7 Server Setup</h3>
            <p>Enable Communication</p>
            <form id="adt-hl7-server-setup">
              <fieldset>
                <label for="hl7-local-ip-address">Local IP Address</label>
                <input type="text" id="hl7-local-ip-address" name="hl7-local-ip-address" value="127.0.0.1">
              </fieldset>
              <fieldset class="small">
                <label for="hl7-local-port">Local Port</label>
                <input type="text" id="hl7-local-port" name="hl7-local-port" value="8000">
              </fieldset>
              <fieldset class="small">
                <label for="hl7-connection-timeout">Connection Timeout (sec)</label>
                <input type="number" id="hl7-connection-timeout" name="hl7-connection-timeout" value="86400">
              </fieldset>
              <fieldset>
                <label for="hl7-parsing-algorithm">Parsing Algorithm</label>
                <select id="hl7-parsing-algorithm" name="hl7-parsing-algorithm">
                  <option label="HL7 ADT v2.x">HL7 ADT v2.x</option>
                  <option label="HL7 BedMasterEx">HL7 BedMasterEx</option>
                  <option label="HL7 Capsule DataCaptor">HL7 Capsule DataCaptor</option>
                  <option label="HL7 Covidien Vital Sync">HL7 Covidien Vital Sync</option>
                  <option label="HL7 Custom Script">HL7 Custom Script</option>
                  <option label="HL7 IHE-PCD-ACM (AM Actor)">HL7 IHE-PCD-ACM (AM Actor)</option>
                  <option label="HL7 iSirona">HL7 iSirona</option>
                  <option label="HL7 Philips PDI">HL7 Philips PDI</option>
                  <option label="HL7 WatchChild">HL7 WatchChild</option>
                </select>
                <span class="select-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M6 9l6 6l6 -6"></path>
                  </svg>
                </span>
              </fieldset>
            </form>
            <!-- <div class="button-group">
              <a href="" class="button primary">Setup</a>
            </div> -->
          </div>
        </div>
      </section>
    </article>
  </main>
  <footer>
    <form class="color-mode">
      <fieldset class="toggle">
        <label for="switch-theme">
          <span class="light-mode">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-sun">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
              <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" />
            </svg>
          </span>
          <input type="checkbox" id="switch-theme" class="toggle" name="switch-theme" title="switch-theme">
          <span class="dark-mode">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-moon">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" />
            </svg>
          </span>
        </label>
      </fieldset>
    </form>
  </footer>
  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="projects/amen/assets/scripts/site.js"></script>
  <script src="assets/scripts/headroom.js"></script>
  <script>
    // CHANGE CSS WHEN PAGE LOADS
    $(document).ready(function () {
      $("body").addClass("visible");
      $("body").removeClass("hidden");
    });
    // HEADROOM
    var myElement = document.querySelector("header");
    var headroom = new Headroom(myElement);
    headroom.init();
  </script>
</body>

</html>